@import "vars";

/* Menu lists */
@mixin menu_list () {

    ul.menu-list {
        list-style-type: none;
        padding-left: 0;
        padding-bottom: 14px;
        margin-top: 0;

        li {
            padding-top: 17px;

            &:first-child {
                padding-top: 0;
            }

            .pull-right {
                position: absolute;
                right: 14px;
            }
        }
    }

}

/* Toggle controls */
@mixin toggle () {

    /* toggle background */
    .js-toggle-bg {
        display: inline-block;
        position: absolute;
        width: 32px;
        overflow: visible;
        height: 12px;
        border-radius: 12px;
        margin-top: 0.3em;
        cursor: pointer;
        right: 0;

        /* toggle false means off and gray! */
        &.js-toggle-bg-false {
            background-color: $grey-light;
        }

        /* normal toggle true means on and green! */
        &.js-toggle-bg-true {
            background-color: #84ba50;
        }

        /* foreground control */
        .js-toggle-fg {
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 16px;
            background-color: $white;
            margin-top:-2px;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
            cursor: pointer;

            &.js-toggle-fg-false {
                margin-left: 0px;
            }

            &.js-toggle-fg-true {
                margin-left: 16px;
            }

        }
    }

}
