@import "vars";

/* Menu lists */
@mixin menu_list () {

    ul.menu-list {
        list-style-type: none;
        padding-left: 0;
        padding-bottom: 14px;
        margin-top: 0;

        li {
            padding-top: 17px;

            &:first-child {
                padding-top: 0;
            }

        }
    }

}

/* Toggle controls */
@mixin toggle () {

    .toggle-button {
        position: absolute;
        right: 14px;
        width: 32px;
        height: auto;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        text-align: left;

        /* toggle background */
        .js-toggle-bg {
            position: absolute;
            width: 32px;
            overflow: visible;
            height: 12px;
            border-radius: 12px;
            margin-top: 0.3em;
            right: 0;

            /* toggle false means off and gray! */
            &.js-toggle-bg-false {
                background-color: $grey-light;
            }

            /* normal toggle true means on and green! */
            &.js-toggle-bg-true {
                background-color: #84ba50;
            }

            .js-toggle-knob {
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 16px;
                background-color: $white;
                margin-top: -2px;
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

                &.js-toggle-knob-false {
                    margin-left: 0px;
                }

                &.js-toggle-knob-true {
                    margin-left: 16px;
                }

            }
        }
    }
}

/* Icons */
@mixin icon_display () {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
