/* Site Rating Icons in Popup (aka "hero icons") */

$icon__hero_rating__null: "hero-rating__null-state.svg";
$icon__hero_rating__calculating: "hero-rating__calculating-state.svg";

$icon__hero_rating__a: "hero-rating__a.svg";
$icon__hero_rating__a--is-active: "hero-rating__a--is-active.svg";

$icon__hero_rating__b: "hero-rating__b.svg";
$icon__hero_rating__b--is-active: "hero-rating__b--is-active.svg";

$icon__hero_rating__c: "hero-rating__c.svg";
$icon__hero_rating__c--is-active: "hero-rating__c--is-active.svg";

$icon__hero_rating__d: "hero-rating__d.svg";
$icon__hero_rating__d--is-active: "hero-rating__d--is-active.svg";

$icon__hero_rating__f: "hero-rating__f.svg";
$icon__hero_rating__f--is-active: "hero-rating__f--is-active.svg";


@mixin site_rating_icons () {

    &.site-info__rating--calculating {

        .is-browser--chrome & {
            background-image: url(chrome-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__calculating});
        }

        .is-browser--moz & {
            background-image: url(moz-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__calculating});
        }
    }

    &.site-info__rating--null {

        .is-browser--chrome & {
            background-image: url(chrome-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__null});
        }

        .is-browser--moz & {
            background-image: url(moz-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__null});
        }
    }

    &.site-info__rating--a {

        .is-browser--chrome & {
            background-image: url(chrome-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__a});
        }

        .is-browser--moz & {
            background-image: url(moz-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__a});
        }

        &.is-active {

            .is-browser--chrome & {
                background-image: url(chrome-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__a--is-active});
            }

            .is-browser--moz & {
                background-image: url(moz-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__a--is-active});
            }
        }
    }

    &.site-info__rating--b {

        .is-browser--chrome & {
            background-image: url(chrome-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__b});
        }

        .is-browser--moz & {
            background-image: url(moz-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__b});
        }

        &.is-active {

            .is-browser--chrome & {
                background-image: url(chrome-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__b--is-active});
            }

            .is-browser--moz & {
                background-image: url(moz-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__b--is-active});
            }
        }
    }

    &.site-info__rating--c {

        .is-browser--chrome & {
            background-image: url(chrome-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__c});
        }

        .is-browser--moz & {
            background-image: url(moz-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__c});
        }

        &.is-active {

            .is-browser--chrome & {
                background-image: url(chrome-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__c--is-active});
            }

            .is-browser--moz & {
                background-image: url(moz-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__c--is-active});
            }
        }
    }

    &.site-info__rating--d {

        .is-browser--chrome & {
            background-image: url(chrome-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__d});
        }

        .is-browser--moz & {
            background-image: url(moz-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__d});
        }

        &.is-active {

            .is-browser--chrome & {
                background-image: url(chrome-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__d--is-active});
            }

            .is-browser--moz & {
                background-image: url(moz-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__d--is-active});
            }
        }
    }

    &.site-info__rating--f {

        .is-browser--chrome & {
            background-image: url(chrome-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__f});
        }

        .is-browser--moz & {
            background-image: url(moz-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__f});
        }

        &.is-active {

            .is-browser--chrome & {
                background-image: url(chrome-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__f--is-active});
            }

            .is-browser--moz & {
                background-image: url(moz-extension://__MSG_@@extension_id__/img/#{$icon__hero_rating__f--is-active});
            }
        }
    }
}
