@import "vars";

@mixin tracker_network_icons () {

    &.amazoncom {

        &.is-active {

            .is-browser--chrome & {
                background-image: url($icon__tn__amazoncom__isactive--chrome);
            }

            .is-browser--moz & {
                background-image: url($icon__tn__amazoncom__isactive--moz);
            }

        }
    }

    &.appnexus {

        &.is-active {
        
            .is-browser--chrome & {
                background-image: url($icon__tn__appnexus__isactive--chrome);
            }

            .is-browser--moz & {
                background-image: url($icon__tn__appnexus__isactive--moz);
            }
        }   
    }

    &.facebook {

        &.is-active {

            .is-browser--chrome & {
                background-image: url($icon__tn__facebook__isactive--chrome);
            }

            .is-browser--moz & {
                background-image: url($icon__tn__facebook__isactive--moz);
            }   
        }
    }   

    &.google {

        &.is-active {
    
            .is-browser--chrome & {
                background-image: url($icon__tn__google__isactive--chrome);
            }

            .is-browser--moz & {
                background-image: url($icon__tn__google__isactive--moz);
            }   
        }
    }

    &.oracle {

        &.is-active {

            .is-browser--chrome & {
                background-image: url($icon__tn__oracle__isactive--chrome);
            }

            .is-browser--moz & {
                background-image: url($icon__tn__oracle__isactive--moz);
            }   
        }
    }

    &.twitter {

        &.is-active {

            .is-browser--chrome & {
                background-image: url($icon__tn__twitter__isactive--chrome);
            }

            .is-browser--moz & {
                background-image: url($icon__tn__twitter__isactive--moz);
            }   
        }
    }
}
