/* Tracker Network Icons */
$icon__tn__amazoncom--chrome: "chrome-extension://__MSG_@@extension_id__/img/tn-amazon--red.svg";
$icon__tn__amazoncom--moz: "moz-extension://__MSG_@@extension_id__/img/tn-amazon--red.svg";
$icon__tn__amazoncom__isactive--chrome: "chrome-extension://__MSG_@@extension_id__/img/tn-amazon--green.svg";
$icon__tn__amazoncom__isactive--moz: "moz-extension://__MSG_@@extension_id__/img/tn-amazon--green.svg";

$icon__tn__appnexus--chrome: "chrome-extension://__MSG_@@extension_id__/img/tn-appnexus--red.svg";
$icon__tn__appnexus--moz: "moz-extension://__MSG_@@extension_id__/img/tn-appnexus--red.svg";
$icon__tn__appnexus__isactive--chrome: "chrome-extension://__MSG_@@extension_id__/img/tn-appnexus--green.svg";
$icon__tn__appnexus__isactive--moz: "moz-extension://__MSG_@@extension_id__/img/tn-appnexus--green.svg";

$icon__tn__facebook--chrome: "chrome-extension://__MSG_@@extension_id__/img/tn-facebook--red.svg";
$icon__tn__facebook--moz: "moz-extension://__MSG_@@extension_id__/img/tn-facebook--red.svg";
$icon__tn__facebook__isactive--chrome: "chrome-extension://__MSG_@@extension_id__/img/tn-facebook--green.svg";
$icon__tn__facebook__isactive--moz: "moz-extension://__MSG_@@extension_id__/img/tn-facebook--green.svg";

$icon__tn__google--chrome: "chrome-extension://__MSG_@@extension_id__/img/tn-google--red.svg";
$icon__tn__google--moz: "moz-extension://__MSG_@@extension_id__/img/tn-google--red.svg";
$icon__tn__google__isactive--chrome: "chrome-extension://__MSG_@@extension_id__/img/tn-google--green.svg";
$icon__tn__google__isactive--moz: "moz-extension://__MSG_@@extension_id__/img/tn-google--green.svg";

$icon__tn__oracle--chrome: "chrome-extension://__MSG_@@extension_id__/img/tn-oracle--red.svg";
$icon__tn__oracle--moz: "moz-extension://__MSG_@@extension_id__/img/tn-oracle--red.svg";
$icon__tn__oracle__isactive--chrome: "chrome-extension://__MSG_@@extension_id__/img/tn-oracle--green.svg";
$icon__tn__oracle__isactive--moz: "moz-extension://__MSG_@@extension_id__/img/tn-oracle--green.svg";

$icon__tn__twitter--chrome: "chrome-extension://__MSG_@@extension_id__/img/tn-twitter--red.svg";
$icon__tn__twitter--moz: "moz-extension://__MSG_@@extension_id__/img/tn-twitter--red.svg";
$icon__tn__twitter__isactive--chrome: "chrome-extension://__MSG_@@extension_id__/img/tn-twitter--green.svg";
$icon__tn__twitter__isactive--moz: "moz-extension://__MSG_@@extension_id__/img/tn-twitter--green.svg";


@mixin tracker_network_icons () {

    &.amazoncom {

        .is-browser--chrome & {
            background-image: url($icon__tn__amazoncom--chrome);
        }

        .is-browser--moz & {
            background-image: url($icon__tn__amazoncom--moz);
        }

        &.is-active {

            .is-browser--chrome & {
                background-image: url($icon__tn__amazoncom__isactive--chrome);
            }

            .is-browser--moz & {
                background-image: url($icon__tn__amazoncom__isactive--moz);
            }
        }
    }

    &.appnexus {

        .is-browser--chrome & {
            background-image: url($icon__tn__appnexus--chrome);
        }

        .is-browser--moz & {
            background-image: url($icon__tn__appnexus--moz);
        }

        &.is-active {
        
            .is-browser--chrome & {
                background-image: url($icon__tn__appnexus__isactive--chrome);
            }

            .is-browser--moz & {
                background-image: url($icon__tn__appnexus__isactive--moz);
            }
        }   
    }

    &.facebook {

        .is-browser--chrome & {
            background-image: url($icon__tn__facebook--chrome);
        }

        .is-browser--moz & {
            background-image: url($icon__tn__facebook--moz);
        }

        &.is-active {

            .is-browser--chrome & {
                background-image: url($icon__tn__facebook__isactive--chrome);
            }

            .is-browser--moz & {
                background-image: url($icon__tn__facebook__isactive--moz);
            }   
        }
    }   

    &.google {

        .is-browser--chrome & {
            background-image: url($icon__tn__google--chrome);
        }

        .is-browser--moz & {
            background-image: url($icon__tn__google--moz);
        }


        &.is-active {
    
            .is-browser--chrome & {
                background-image: url($icon__tn__google__isactive--chrome);
            }

            .is-browser--moz & {
                background-image: url($icon__tn__google__isactive--moz);
            }   
        }
    }

    &.oracle {

        .is-browser--chrome & {
            background-image: url($icon__tn__oracle--chrome);
        }

        .is-browser--moz & {
            background-image: url($icon__tn__oracle--moz);
        }


        &.is-active {

            .is-browser--chrome & {
                background-image: url($icon__tn__oracle__isactive--chrome);
            }

            .is-browser--moz & {
                background-image: url($icon__tn__oracle__isactive--moz);
            }   
        }
    }

    &.twitter {

        .is-browser--chrome & {
            background-image: url($icon__tn__twitter--chrome);
        }

        .is-browser--moz & {
            background-image: url($icon__tn__twitter--moz);
        }

        &.is-active {

            .is-browser--chrome & {
                background-image: url($icon__tn__twitter__isactive--chrome);
            }

            .is-browser--moz & {
                background-image: url($icon__tn__twitter__isactive--moz);
            }   
        }
    }
}
