/* Font variables */
$font__size--default: 14px;
$font__face--default: "DDG_ProximaNova", "Helvetica Neue", "Helvetica", "Segoe UI", "Nimbus Sans L", "Liberation Sans", "Open Sans", FreeSans, Arial, sans-serif;

/* Colors */
@import "../node_modules/duckduckgo-colors/colors";
$color--neutral-bg: #f5f5f5;

/* Icons & images */
$ddg-logo__url: "chrome-extension://__MSG_@@extension_id__/img/logo-horizontal@2x.png";


/* Popup */
$popup__width: 270px;

/* Cards */
$card__bg-color: $white;
$card__border-radius: 2px;
$card__box-shadow: 1px 1px 1px $platinum-dark;
$card__padding: 0;
$card__margin--top: 3.5px;
$card__margin--right: 7px;
$card__margin--bottom: 7px;
$card__margin--left: 7px;
$card__margin: $card__margin--top $card__margin--right $card__margin--bottom $card__margin--left;
$card__border--bottom: 1px solid $platinum-light;
