/* Font variables */
$font__size--default: 14px;
$font__face--default: "DDG_ProximaNova", "Helvetica Neue", "Helvetica", "Segoe UI", "Nimbus Sans L", "Liberation Sans", "Open Sans", FreeSans, Arial, sans-serif;

/* Colors */
@import "../node_modules/duckduckgo-colors/colors";
$color--green: #3fa248;
$color--dark-green: #29521f;
$color--orange: #f89f22;
$color--red: #ce2929;
$color--white: #fff;

/* Neutral Colors */
$color--neutral-bg: #f5f5f5;
$color--grey: $grey; /* #999 */
$color--dark-gray: #838383;
$color--default-box-shadow: $platinum-dark; /* #d0d0d0 */

/* Rating Colors */
$color--site-rating--a: $color--green;
$color--site-rating--b: $color--green;
$color--site-rating--c: $color--orange;
$color--site-rating--d: $color--orange;
$color--site-rating--f: $color--red;

/* Popup */
$popup__width: 300px;
$popup__height: 600px;
$popup__height--moz: 600px;

/* Hamburger Button & Menu */
$hamburger-button__color: $color--dark-gray;
$hamburger-menu__bg-color: $slate;

/* Cards */
$card__bg-color: $white;
$card__border-radius: 0;
$card__border: 1px solid $platinum-light;
$card__box-shadow: 0px 1px 1px $color--default-box-shadow;
$card__padding: 0;
$card--padded: 15px 20px;
$card__margin--top: 7.5px;
$card__margin--right: 0;
$card__margin--bottom: 0;
$card__margin--left: 0;
$card__margin: $card__margin--top $card__margin--right $card__margin--bottom $card__margin--left;

/* Popover */
$popover__color: $white;
$popover__bg-color: $slate;
$popover__border-radius: 3px;

/* CSS Arrow */
$arrow__bg-color: $white;
$arrow__border-radius: 3px;

/* Logo images */
$img__logo--chrome: "chrome-extension://__MSG_@@extension_id__/img/logo-horizontal@2x.png";
$img__logo--moz: "moz-extension://__MSG_@@extension_id__/img/logo-horizontal@2x.png";

$img__logo__small--chrome: "chrome-extension://__MSG_@@extension_id__/img/ddg-logo-simple@2x.png";
$img__logo__small--moz: "moz-extension://__MSG_@@extension_id__/img/ddg-logo-simple@2x.png";

/* Rating icons */
$icon__rating__A--chrome: "chrome-extension://__MSG_@@extension_id__/img/toolbar-rating-a@2x.png";
$icon__rating__A--moz: "moz-extension://__MSG_@@extension_id__/img/toolbar-rating-a@2x.png";

$icon__rating__B--chrome: "chrome-extension://__MSG_@@extension_id__/img/toolbar-rating-b@2x.png";
$icon__rating__B--moz: "moz-extension://__MSG_@@extension_id__/img/toolbar-rating-b@2x.png";

$icon__rating__C--chrome: "chrome-extension://__MSG_@@extension_id__/img/toolbar-rating-c@2x.png";
$icon__rating__C--moz: "moz-extension://__MSG_@@extension_id__/img/toolbar-rating-c@2x.png";

$icon__rating__D--chrome: "chrome-extension://__MSG_@@extension_id__/img/toolbar-rating-d@2x.png";
$icon__rating__D--moz: "moz-extension://__MSG_@@extension_id__/img/toolbar-rating-d@2x.png";

$icon__rating__F--chrome: "chrome-extension://__MSG_@@extension_id__/img/toolbar-rating-f@2x.png";
$icon__rating__F--moz: "moz-extension://__MSG_@@extension_id__/img/toolbar-rating-f@2x.png";

/* HTTPS status icons */
$icon__https-status__locked--chrome: "chrome-extension://__MSG_@@extension_id__/img/https--on.svg";
$icon__https-status__locked--moz: "moz-extension://__MSG_@@extension_id__/img/https--on.svg";

$icon__https-status__unlocked--chrome: "chrome-extension://__MSG_@@extension_id__/img/https--off.svg";
$icon__https-status__unlocked--moz: "moz-extension://__MSG_@@extension_id__/img/https--off.svg";

/* Tracker network status icons */
$icon__trackers__blocked--chrome: "chrome-extension://__MSG_@@extension_id__/img/blocking--on.svg";
$icon__trackers__blocked--moz: "moz-extension://__MSG_@@extension_id__/img/blocking--on.svg";

$icon__trackers__unblocked--chrome: "chrome-extension://__MSG_@@extension_id__/img/blocking--off.svg";
$icon__trackers__unblocked--moz: "moz-extension://__MSG_@@extension_id__/img/blocking--off.svg";

/* Left carat/arrow icons */
$icon__arrow--chrome: "chrome-extension://__MSG_@@extension_id__/img/arrow@2x.png";
$icon__arrow--moz: "moz-extension://__MSG_@@extension_id__/img/arrow@2x.png";

/* Settings cog icon */
$icon__settings--chrome: "chrome-extension://__MSG_@@extension_id__/img/settings-gear@2x.png";
$icon__settings--moz: "moz-extension://__MSG_@@extension_id__/img/settings-gear@2x.png";

/* Close modal "x" icon */
$icon__close--chrome: "chrome-extension://__MSG_@@extension_id__/img/close.svg";
$icon__close--moz: "moz-extension://__MSG_@@extension_id__/img/close.svg";

