@import "../node_modules/duckduckgo-colors/colors";

/* Font variables */
$default-font-size: 14px;
$default-font: "DDG_ProximaNova", "Helvetica Neue", "Helvetica", "Segoe UI", "Nimbus Sans L", "Liberation Sans", "Open Sans", FreeSans, Arial, sans-serif;

/* Popup variables */
$popup-width: 270px;
