/* Normalize File */
@import "../node_modules/normalize.scss/normalize";

/* Color Variables */
@import "../node_modules/duckduckgo-colors/_colors.scss";


body {
  font-size: 14px;
  font-weight: bolder;
  color: $slate;
}


/* Links */
a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.link-secondary {
    color: $slate;
  }
}
