
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



html {
  overflow: hidden;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f8f8f8));*/
  background: #fff;
  height: auto;
  border: 0;
}

body {
  font-family: "Helvetica Neue", sans-serif !important;
  font-weight: normal;
  border: 0;
  margin: 0;
  padding: 0;
}

#search_form_homepage {
  float: left;
  margin:0;
  width: 464px;
  margin: 10px;
  font-size: 1.14em;
  border-radius: 2px;
  height: 38px;
  border: 1px solid #d0d0d0;
  color:  #383838;
  background-color: #f7f7f7;
}

#logo {
  float:left;
  display:none;
}

#search_form_input_homepage {
  width: 373px;

  -moz-appearance: none;
  font-size: 17px;
  font-weight: normal;
  background: none repeat scroll 0% 0% transparent;
  outline: medium none;
  border: medium none;
  padding: 0px;
  height: 30px;
  z-index: 1;
  position: relative;
  top: -1px;
  margin-left: 12px;
  margin-top: 5px;
}

#search_button_homepage {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDIwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGcgaWQ9InNlYXJjaC1sb3VwZSI+PGc+PGc+PHBhdGggc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6Izg4ODg4ODsiIGQ9Ik0xOC43LDE2LjJsLTIuOS0yLjlDMTYuNSwxMi4xLDE3LDEwLjYsMTcsOWMwLTQuNC0zLjYtOC04LThTMSw0LjYsMSw5czMuNiw4LDgsOGMxLjYsMCwzLTAuNSw0LjMtMS4ybDIuOSwyLjljMC41LDAuNSwxLjIsMC41LDEuNiwwbDAuOC0wLjhDMTkuMSwxNy40LDE5LjEsMTYuNywxOC43LDE2LjJ6IE05LDE1Yy0zLjMsMC02LTIuNy02LTZjMC0zLjMsMi43LTYsNi02YzMuMywwLDYsMi43LDYsNkMxNSwxMi4zLDEyLjMsMTUsOSwxNXoiLz48L2c+PC9nPjwvZz48L3N2Zz4=);


  color: #838383;
  padding: 0px 0.64em;
  height: auto;
  min-height: 1.8em;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;

  border-radius: 2px;
  background-color: transparent;
  background-repeat: no-repeat;

  -moz-appearance: none;
  display: block;
  cursor: pointer;
  text-align: center;
  border: medium none;
  outline: medium none;

  background-position: 50% 50%;
  background-size: 20px 20px;

  float: right;
  height: 34px;
  width: 49px;
}

#search_button_homepage:hover, #search_button_homepage.selected{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDIwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGcgaWQ9InNlYXJjaC1sb3VwZSI+PGc+PGc+PHBhdGggc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6I2ZmZmZmZjsiIGQ9Ik0xOC43LDE2LjJsLTIuOS0yLjlDMTYuNSwxMi4xLDE3LDEwLjYsMTcsOWMwLTQuNC0zLjYtOC04LThTMSw0LjYsMSw5czMuNiw4LDgsOGMxLjYsMCwzLTAuNSw0LjMtMS4ybDIuOSwyLjljMC41LDAuNSwxLjIsMC41LDEuNiwwbDAuOC0wLjhDMTkuMSwxNy40LDE5LjEsMTYuNywxOC43LDE2LjJ6IE05LDE1Yy0zLjMsMC02LTIuNy02LTZjMC0zLjMsMi43LTYsNi02YzMuMywwLDYsMi43LDYsNkMxNSwxMi4zLDEyLjMsMTUsOSwxNXoiLz48L2c+PC9nPjwvZz48L3N2Zz4=) !important;

  background-color: #589e4d !important;
}

#search_form_input_clear {
  border: 0 !important;
  background-color: #f7f7f7;
  margin-left: -8px;
  height: 27px;
  width: 21px;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDIwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGcgaWQ9ImNsZWFyIj48Zz48Zz48cG9seWdvbiBzdHlsZT0iZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7ZmlsbDojODg4ODg4OyIgcG9pbnRzPSIxNi41LDQuNyAxNS44LDQgMTAuNSw5LjMgNS4yLDQgNC41LDQuNyA5LjgsMTAgNC41LDE1LjMgNS4yLDE2IDEwLjUsMTAuNyAxNS44LDE2IDE2LjUsMTUuMyAxMS4yLDEwIi8+PC9nPjwvZz48L2c+PC9zdmc+) !important;
  background-repeat: no-repeat;


  display: none;
  cursor: pointer;
}

#icon_advanced {
  padding-top: 20px;
  padding-left: 3px;
  display: inline;

  width: 20px;
  height: 20px;
}

#topbar {
  width: 520px;
  height: 45px;
}

#advanced {
  width: 499px;
  height: 30px;
  margin: 10px;
  margin-bottom: 20px;
  clear: both;
  display: block;
  margin-left: 12px;
}

#advanced .button {
  border-radius: 3px;
  padding: 3px 5px 3px 5px;
  font-size: 12px;
  cursor: pointer;
}

#advanced .button img {
  display: inline;
  padding-right: 4px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

#advanced .button span {
  position: relative;
  top: 1px;
  left: 1px;
}


.link {
  font-size: 12px;
  padding: 5px 10px 5px 5px;
}

.link a {
  color: #4495d4 !important;
}

.link a:hover {
  text-decoration: none;
}

#advanced .more {
  padding-top: 3px !important;
}

#advanced .bang {
  padding-top: 5px !important;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

#advanced li {
  list-style-type: none;
  line-height: 16px;
  height: 16px !important;
}

h2 {
  float: left;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  color: #858585;
}

#advanced #left, #trackers .name {
  float: left;
  width: 182px;
}

#advanced #left ul li, #trackers ul li {
  padding: 1px 3px 5px 0px;
  font-size: 12px;
}

#advanced #left ul li label {
  padding-left: 24px;
  padding-top: 0px;
  vertical-margin: middle;
  font-size: 12px;
}

#advanced #left ul, #trackers .name ul {
  padding-left: 10px;
  font-size: 12px;
  float: left;
  width: 182px;
  padding-top: 2px !important;
}

#advanced #right h2, #trackers .req {
  padding-left: 5px;
}

#advanced #right, #trackers .req {
  float: left;
  width: 317px;
  padding-bottom: 6px;
}

#advanced #right ul, #trackers .req ul {
  width: 158px;
}

#advanced #right ul.left, #advanced #right ul.right {
  float: left;
}

#advanced #right ul.left, #trackers .req ul {
  padding-left: 4px;
}



input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE2IDE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0U1RTVFNSIgZD0iTTE0LDE2SDJjLTEuMSwwLTItMC45LTItMlYyYzAtMS4xLDAuOS0yLDItMmgxMmMxLjEsMCwyLDAuOSwyLDJ2MTJDMTYsMTUuMSwxNS4xLDE2LDE0LDE2eiIvPjwvc3ZnPg==) no-repeat;
    background-size: 16px 16px;
    padding-bottom: 3px;
}

input[type="checkbox"]:checked + label {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE2IDE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzY2NjY2NiIgZD0iTTE0LDE2SDJjLTEuMSwwLTItMC45LTItMlYyYzAtMS4xLDAuOS0yLDItMmgxMmMxLjEsMCwyLDAuOSwyLDJ2MTJDMTYsMTUuMSwxNS4xLDE2LDE0LDE2eiIvPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik04LjQsMTAuOWwtMS42LDEuNmwtNC00bDEuNi0xLjZsMi40LDIuNGw0LjgtNC44bDEuNiwxLjZMOC40LDEwLjlMOC40LDEwLjl6Ii8+PC9zdmc+) no-repeat;
    background-size: 16px 16px;
}

/*
    On/Off Switch
*/

.switch {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    height: 16px;
    width: 26px;
    background: #aaaaaa;
    cursor: pointer;
}
.switch.is-on {
   background: #4495d4;
}
.switch .switch__knob {
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -webkit-transition: left 1s;
   transition: left 1s;
   position: absolute;
   display: block;
   left: 2px;
   top: 2px;
   height: 14px;
   width: 14px;
   background-color: #fff;
}
.switch.is-on .switch__knob {
   left: 10px;
}

#switch_txt {
   margin-left: 0.5em;
}

.left {
   float: left;
}

.clearfix {
   clear: both;
}

.hide { display: none; }

#reload_tab {
   border-radius: 3px;
   padding: 3px 5px 3px 5px;
   font-size: 12px;
   cursor: pointer;
   background: #4495d4;
   color: #fff;
   margin-bottom: 0.5em;
   width: 5em;
}

#trackers {
    padding-top: 6em; 
    padding-left:1em; 
    padding-bottom:1em;
}
