@import "vars";
@import "mixins";


/* Generic menu list styling */
@include menu_list();


/* Generic toggle button styling */
@include toggle_button();


/* Trackers page */
.disabled {

    .site-info,
    .top-blocked {
        @include is_disabled();
    }
}

#trackers-container {
    padding: 49px 0 0 0;
    width: $popup__width; /* 270px - 14*2 */

    .search-form {
        position: absolute;
        top: 7px;
        left: 7px;
        right: 7px;
        height: 38px;
        margin: 0;
        font-size: 1.14em;
        border-radius: 2px;
        color: #383838;

        .search-form__input {
            width: $popup__width;
            -moz-appearance: none;
            font-size: 17px;
            font-weight: normal;
            background: none repeat scroll 0% 0% transparent;
            outline: medium none;
            border: medium none;
            padding: 0px;
            height: 30px;
            z-index: 1;
            top: -1px;
            margin-left: 12px;
            margin-top: 5px;

            &::placeholder {
                color: $platinum-darker;
            }
        }

        .search-form__go {
            position:absolute;
            top: 0px;
            right: 0px;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDIwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGcgaWQ9InNlYXJjaC1sb3VwZSI+PGc+PGc+PHBhdGggc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6Izg4ODg4ODsiIGQ9Ik0xOC43LDE2LjJsLTIuOS0yLjlDMTYuNSwxMi4xLDE3LDEwLjYsMTcsOWMwLTQuNC0zLjYtOC04LThTMSw0LjYsMSw5czMuNiw4LDgsOGMxLjYsMCwzLTAuNSw0LjMtMS4ybDIuOSwyLjljMC41LDAuNSwxLjIsMC41LDEuNiwwbDAuOC0wLjhDMTkuMSwxNy40LDE5LjEsMTYuNywxOC43LDE2LjJ6IE05LDE1Yy0zLjMsMC02LTIuNy02LTZjMC0zLjMsMi43LTYsNi02YzMuMywwLDYsMi43LDYsNkMxNSwxMi4zLDEyLjMsMTUsOSwxNXoiLz48L2c+PC9nPjwvZz48L3N2Zz4=);
            background-position: 50% 50%;
            background-size: 20px 20px;
            height: 34px;
            width: 49px;
            color: #838383;
            padding: 0px 0.64em;
            min-height: 1.8em;
            margin-top: 2px;
            margin-bottom: 2px;
            margin-right: 2px;
            border-radius: 2px;
            background-color: transparent;
            background-repeat: no-repeat;
            -moz-appearance: none;
            display: block;
            cursor: pointer;
            text-align: center;
            border: medium none;
            outline: medium none;

                &:hover, &.selected{
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDIwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGcgaWQ9InNlYXJjaC1sb3VwZSI+PGc+PGc+PHBhdGggc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6I2ZmZmZmZjsiIGQ9Ik0xOC43LDE2LjJsLTIuOS0yLjlDMTYuNSwxMi4xLDE3LDEwLjYsMTcsOWMwLTQuNC0zLjYtOC04LThTMSw0LjYsMSw5czMuNiw4LDgsOGMxLjYsMCwzLTAuNSw0LjMtMS4ybDIuOSwyLjljMC41LDAuNSwxLjIsMC41LDEuNiwwbDAuOC0wLjhDMTkuMSwxNy40LDE5LjEsMTYuNywxOC43LDE2LjJ6IE05LDE1Yy0zLjMsMC02LTIuNy02LTZjMC0zLjMsMi43LTYsNi02YzMuMywwLDYsMi43LDYsNkMxNSwxMi4zLDEyLjMsMTUsOSwxNXoiLz48L2c+PC9nPjwvZz48L3N2Zz4=) !important;
                    background-color: $green !important;
                }
        }

        #search_form_input_clear {
          border: 0 !important;
          background-color: $silver-light;
          margin-left: -8px;
          height: 27px;
          width: 21px;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDIwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGcgaWQ9ImNsZWFyIj48Zz48Zz48cG9seWdvbiBzdHlsZT0iZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7ZmlsbDojODg4ODg4OyIgcG9pbnRzPSIxNi41LDQuNyAxNS44LDQgMTAuNSw5LjMgNS4yLDQgNC41LDQuNyA5LjgsMTAgNC41LDE1LjMgNS4yLDE2IDEwLjUsMTAuNyAxNS44LDE2IDE2LjUsMTUuMyAxMS4yLDEwIi8+PC9nPjwvZz48L2c+PC9zdmc+) !important;
          background-repeat: no-repeat;
          display: none;
          cursor: pointer;
        }

    }

    .site-info {

        .menu-list {
            padding-bottom: 0;

            li {
                position: relative;
                padding: 7px;

                .toggle-button {
                    top: 9px;
                }
            }
        }

        .site-info__domain {
            max-width: $popup__width - 70;
            height: 1.2em;
            padding-left: 7px;
            line-height: 1.4em;
            display: inline-block;
            font-weight: bold;
            overflow: hidden;
        }

        .site-info__rating {
            @include icon_display();

            &.site-info__rating--none {
                border-radius: 10px;
                background-color:#e0e0e0;
            }

            &.site-info__rating--A-chrome {
                background-image: url('chrome-extension://__MSG_@@extension_id__/img/toolbar-rating-a@2x.png');
            }

            &.site-info__rating--B-chrome {
                background-image: url('chrome-extension://__MSG_@@extension_id__/img/toolbar-rating-b@2x.png');
            }

            &.site-info__rating--C-chrome {
                background-image: url('chrome-extension://__MSG_@@extension_id__/img/toolbar-rating-c@2x.png');
            }

            &.site-info__rating--A-moz {
                background-image: url('moz-extension://__MSG_@@extension_id__/img/toolbar-rating-a@2x.png');
            }

            &.site-info__rating--B-moz {
                background-image: url('moz-extension://__MSG_@@extension_id__/img/toolbar-rating-b@2x.png');
            }

            &.site-info__rating--C-moz {
                background-image: url('moz-extension://__MSG_@@extension_id__/img/toolbar-rating-c@2x.png');
            }
        }

        .site-info__https-status {
            @include icon_display();

            &.site-info__https-status--default-chrome {
                background-image: url('chrome-extension://__MSG_@@extension_id__/img/lock-green@2x.png');
            }

            &.site-info__https-status--upgraded-chrome {
                background-image: url('chrome-extension://__MSG_@@extension_id__/img/lock-orange@2x.png');
            }

            &.site-info__https-status--none-chrome {
                background-image: url('chrome-extension://__MSG_@@extension_id__/img/lock-red@2x.png');
            }

            &.site-info__https-status--default-moz {
                background-image: url('moz-extension://__MSG_@@extension_id__/img/lock-green@2x.png');
            }

            &.site-info__https-status--upgraded-moz {
                background-image: url('moz-extension://__MSG_@@extension_id__/img/lock-orange@2x.png');
            }

            &.site-info__https-status--none-moz {
                background-image: url('moz-extension://__MSG_@@extension_id__/img/lock-red@2x.png');
            }

        }

        .site-info__https-status-msg {
            margin-left: 0.5em;
        }

        .site-info__tracker-count {
            border-radius: 16px;
            background: $red;
            color: $white;
            padding: 0px 8px;
            margin-right: 0.5em;
        }
    }


    .linkable {
        font-weight: bold;
        display: block;
        $settings-padding-lr: 14px + 3px;
        padding: $card__margin--top $settings-padding-lr 7px;
        position: relative;
    }

    .top-blocked {
        padding-bottom: 3.5px;

        .top-blocked__list {
            margin: 7px;

            .top-blocked__li {
                position: relative;
                z-index: 0;

                .top-blocked__li__blocker-bar {
                    z-index: 1;
                    position: relative;
                    height: 3px;
                    background: $platinum-light;
                    margin-top: 0;
                    border-radius: 2px;

                    &.top-blocked__li__blocker-bar--fg {
                        background: $slate;
                    }
                }

                .top-blocked__li__blocker-count {
                    display: inline-block;
                    z-index: 2;
                    right: 3.5px;
                }

                .top-blocked__li__company-name {
                    z-index: 2;
                    position: relative;
                    display: inline-block;
                    padding-left: 3px;
                    width: 180px;
                    overflow: hidden;
                }
            }
        }
    }

}
