/* Font variables */
/* Colors */
/* Neutral Colors */
/* #888 */
/* #d0d0d0 */
/* Rating Colors */
/* Popup */
/* Hamburger Button & Menu */
/* Cards */
/* Popover */
/* CSS Arrow */
/* Logo images */
/* Rating icons */
/* HTTPS status icons */
/* Tracker network status icons */
/* Left carat/arrow icons */
/* Settings cog icon */
/* Close modal "x" icon */
/* Font variables */
/* Colors */
/* Neutral Colors */
/* #888 */
/* #d0d0d0 */
/* Rating Colors */
/* Popup */
/* Hamburger Button & Menu */
/* Cards */
/* Popover */
/* CSS Arrow */
/* Logo images */
/* Rating icons */
/* HTTPS status icons */
/* Tracker network status icons */
/* Left carat/arrow icons */
/* Settings cog icon */
/* Close modal "x" icon */
/* Tracker Network Icons */
/* Site Rating Icons in Popup (aka "hero icons") */
/* Logo */
/* App states */
/* Font groupings */
.uppercase {
  font-size: 12px;
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold; }

/* Lists */
/* Toggle buttons */
/* Images & icons */
/* Sliding subviews */
/* Normalize File */
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Font definitions */
/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2014 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Mark Simonson Studio
 * License URL: http://www.fontspring.com/fflicense/mark-simonson-studio
 *
 *
 */
/**
 * We are using a subset of DDG fonts that are compatible with Chrome:
 */
@font-face {
  font-family: 'DDG_ProximaNova';
  src: url("../font/ProximaNova-Reg-webfont.eot");
  src: url("../font/ProximaNova-Reg-webfont.woff") format("woff"), url("../font/ProximaNova-Reg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DDG_ProximaNova';
  src: url("../font/ProximaNova-Sbold-webfont.eot");
  src: url("../font/ProximaNova-Sbold-webfont.woff") format("woff"), url("../font/ProximaNova-Sbold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: bold; }

/**
 * DDG Extension Resets & Base Styles
 */
html, body {
  height: 100%;
  min-height: 100%; }
  html.body--neutral, body.body--neutral {
    background: #f5f5f5; }

h1, h2, h3, h4, h5, h5, p, div {
  font-size: 14px;
  margin: 0;
  padding: 0; }
  h1.menu-title, h2.menu-title, h3.menu-title, h4.menu-title, h5.menu-title, h5.menu-title, p.menu-title, div.menu-title {
    font-weight: bold;
    padding: 14px 0; }

section, ul, ol, li {
  margin: 0;
  padding: 0;
  position: relative; }
  section.divider-bottom, ul.divider-bottom, ol.divider-bottom, li.divider-bottom {
    border-bottom: 1px solid #e0e0e0; }

form, input, select, option, button {
  outline: none; }
  form *, input *, select *, option *, button * {
    outline: none; }

button {
  border: none;
  background-color: #ffffff;
  padding: 0; }

/* Fonts */
body,
input,
textarea,
select {
  font-family: "DDG_ProximaNova", "Helvetica Neue", "Helvetica", "Segoe UI", "Nimbus Sans L", "Liberation Sans", "Open Sans", FreeSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333333; }

.bold {
  font-weight: bold; }

/* Links */
a {
  color: #4495d4;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.link-secondary {
    color: #333333; }

/**
 * DDG Extension Helper Classes
 */
/* Hide element */
.is-hidden {
  display: none; }

/* Position */
.pull-right {
  position: absolute;
  right: 20px; }

.pull-left {
  position: absolute;
  left: 20px; }

/* Display */
.block {
  display: block; }

/* Floats */
.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix {
  clear: both;
  height: 0;
  line-height: 0; }

/* Text Centering */
.text--center {
  text-align: center; }

.text--left {
  text-align: left; }

/* Borders */
.border--top {
  border-top: 1px solid #e5e5e5; }

.border--bottom {
  border-bottom: 1px solid #e5e5e5; }

/* Padding */
.padded {
  padding: 15px 20px; }

.padded--no-bottom-padding {
  padding-bottom: 0; }

/* Hamburger Button */
.hamburger-button {
  position: absolute;
  top: 4px;
  right: 10px;
  font-size: 20px;
  width: 20px;
  height: 30px; }
  .hamburger-button span {
    display: block;
    margin: 2px auto 0 auto;
    width: 15px;
    height: 2px;
    background-color: #888888;
    border-radius: 5px; }

/* Card Display */
.card {
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 0px 1px 1px #d0d0d0;
  padding: 0;
  margin: 7.5px 0 0 0; }
  .card.card--transparent {
    background-color: transparent;
    box-shadow: none; }
  .card.card--no-top-margin {
    margin-top: 0; }

/* Text-only rating icons */
.rating__text-only {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 21px;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
  padding-left: 1px; }
  .rating__text-only.a {
    background-color: #3fa248; }
  .rating__text-only.b {
    background-color: #3fa248; }
  .rating__text-only.c {
    background-color: #f89f22; }
  .rating__text-only.d {
    background-color: #f89f22; }
  .rating__text-only.f {
    background-color: #ce2929; }

/* Icons */
/* Standard icon display within the extension */
.icon {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  /* you'll need to set the background image within each instance of .icon */ }
  .icon.icon__close {
    width: 14px;
    height: 14px; }
    .is-browser--chrome .icon.icon__close {
      background-image: url("chrome-extension://__MSG_@@extension_id__/img/close.svg"); }
    .is-browser--moz .icon.icon__close {
      background-image: url("moz-extension://__MSG_@@extension_id__/img/close.svg"); }
  .icon.icon__arrow {
    width: 16px;
    height: 16px; }
    .is-browser--chrome .icon.icon__arrow {
      background-image: url("chrome-extension://__MSG_@@extension_id__/img/arrow@2x.png"); }
    .is-browser--moz .icon.icon__arrow {
      background-image: url("moz-extension://__MSG_@@extension_id__/img/arrow@2x.png"); }
    .icon.icon__arrow.icon__arrow--left {
      transform: rotate(180deg); }
  .icon.icon__settings {
    width: 16px;
    height: 16px; }
    .is-browser--chrome .icon.icon__settings {
      background-image: url("chrome-extension://__MSG_@@extension_id__/img/settings-gear@2x.png"); }
    .is-browser--moz .icon.icon__settings {
      background-image: url("moz-extension://__MSG_@@extension_id__/img/settings-gear@2x.png"); }

/* Popover
 * Template is in templates/shread/popover.es6.js
 * Sample usage:
 *    .site-info__li--trackers {
 *        position: relative;
 *
 *        &:hover {
 *            .popover.site_info__trackers__popover {
 *                display: block;
 *                top: initial;
 *                bottom: 45px;
 *            }
 *        }
 */
.popover {
  display: none;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  opacity: 0.9; }
  .popover .popover__inner {
    padding: 10px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    background-color: #333333;
    border-radius: 3px; }
    .popover .popover__inner em {
      font-style: normal;
      font-weight: bold; }
  .popover .arrow {
    background-color: #333333; }
    .popover .arrow.arrow--down:after {
      left: 240px;
      border-top: 10px solid #333333; }

/* Arrow */
.arrow {
  border-top: 10px solid #ffffff; }
  .arrow.arrow--down {
    position: absolute;
    bottom: -10px;
    display: inline-block;
    width: 0; }
    .arrow.arrow--down:after {
      position: relative;
      content: '';
      display: block;
      left: 20px;
      width: 0;
      height: 0;
      border-top: 10px solid #ffffff;
      border-bottom: 0px solid transparent;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent; }
