/* Font variables */
/* Colors */
/* Neutral Colors */
/* #888 */
/* #d0d0d0 */
/* Rating Colors */
/* Popup */
/* Hamburger Button & Menu */
/* Cards */
/* Popover */
/* CSS Arrow */
/* Logo images */
/* Rating icons */
/* HTTPS status icons */
/* Tracker network status icons */
/* Left carat/arrow icons */
/* Settings cog icon */
/* Close modal "x" icon */
/* Font variables */
/* Colors */
/* Neutral Colors */
/* #888 */
/* #d0d0d0 */
/* Rating Colors */
/* Popup */
/* Hamburger Button & Menu */
/* Cards */
/* Popover */
/* CSS Arrow */
/* Logo images */
/* Rating icons */
/* HTTPS status icons */
/* Tracker network status icons */
/* Left carat/arrow icons */
/* Settings cog icon */
/* Close modal "x" icon */
/* Tracker Network Icons */
/* Site Rating Icons in Popup (aka "hero icons") */
/* Logo */
/* App states */
/* Font groupings */
.uppercase {
  font-size: 12px;
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold; }

/* Lists */
/* Toggle buttons */
/* Images & icons */
/* Sliding subviews */
/* Generic menu list styling */
.default-list {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 14px;
  margin-top: 0; }
  .default-list li {
    padding-top: 15px; }
    .default-list li .icon__arrow {
      right: 15px; }

/* Generic toggle button styling */
.toggle-button {
  z-index: 0;
  position: absolute;
  right: 14px;
  width: 32px;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: left; }
  .toggle-button .toggle-button__bg {
    z-index: -1;
    position: absolute;
    right: 0;
    width: 32px;
    overflow: visible;
    height: 12px;
    border-radius: 12px; }
  .toggle-button .toggle-button__knob {
    z-index: 2;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #ffffff;
    margin-top: -2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25); }
  .toggle-button.toggle-button--is-active-false .toggle-button__knob {
    margin-left: 0px; }
  .toggle-button.toggle-button--is-active-false .toggle-button__bg {
    background-color: #888888; }
  .toggle-button.toggle-button--is-active-true .toggle-button__knob {
    margin-left: 16px; }
  .toggle-button.toggle-button--is-active-true .toggle-button__bg {
    background-color: #3fa248; }

/* Options page */
.options-container {
  width: 400px;
  margin: 3em auto auto auto;
  position: relative; }
  .options-container .ddg-logo {
    background-size: contain;
    width: 158px;
    height: 44px;
    margin-bottom: 23px; }
    .is-browser--chrome .options-container .ddg-logo {
      background-image: url("chrome-extension://__MSG_@@extension_id__/img/logo-horizontal@2x.png"); }
    .is-browser--moz .options-container .ddg-logo {
      background-image: url("moz-extension://__MSG_@@extension_id__/img/logo-horizontal@2x.png"); }
    .options-container .ddg-logo span {
      display: none; }
  .options-container .options-info {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333; }

/* Whitelist */
.options-content__whitelist li a {
  display: inline-block;
  max-width: 360px;
  height: 1.2em;
  line-height: 1.2em;
  overflow: hidden; }

.options-content__whitelist li button.remove {
  color: #888888;
  font-size: 22px;
  line-height: 1.2em;
  background: transparent;
  border: none;
  margin: -4px 0 0 0;
  padding: 0; }
