/* Font variables */
/* Colors */
/* Neutral Colors */
/* #888 */
/* #d0d0d0 */
/* Rating Colors */
/* Popup */
/* Hamburger Button & Menu */
/* Cards */
/* Popover */
/* CSS Arrow */
/* Logo images */
/* Rating icons */
/* HTTPS status icons */
/* Tracker network status icons */
/* Left carat/arrow icons */
/* Settings cog icon */
/* Close modal "x" icon */
/* Font variables */
/* Colors */
/* Neutral Colors */
/* #888 */
/* #d0d0d0 */
/* Rating Colors */
/* Popup */
/* Hamburger Button & Menu */
/* Cards */
/* Popover */
/* CSS Arrow */
/* Logo images */
/* Rating icons */
/* HTTPS status icons */
/* Tracker network status icons */
/* Left carat/arrow icons */
/* Settings cog icon */
/* Close modal "x" icon */
/* Tracker Network Icons */
/* Site Rating Icons in Popup (aka "hero icons") */
/* Logo */
/* App states */
/* Font groupings */
.uppercase {
  font-size: 12px;
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold; }

/* Lists */
/* Toggle buttons */
/* Images & icons */
/* Sliding subviews */
/* Popup */
html, body {
  width: 300px;
  height: 600px; }

body {
  overflow: hidden; }
  body.is-browser--moz {
    height: 600px; }

#popup-container .failover.card {
  position: absolute;
  top: 14px;
  right: 7px;
  bottom: 63px;
  left: 7px; }
  #popup-container .failover.card p {
    padding: 7px 21px;
    font-weight: bold;
    font-size: 15px;
    color: #c3c3c3; }

#popup-container .search-form .ddg-logo {
  background-size: contain;
  background-size: cover;
  width: 21px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 21px; }
  .is-browser--chrome #popup-container .search-form .ddg-logo {
    background-image: url("chrome-extension://__MSG_@@extension_id__/img/ddg-logo-simple@2x.png"); }
  .is-browser--moz #popup-container .search-form .ddg-logo {
    background-image: url("moz-extension://__MSG_@@extension_id__/img/ddg-logo-simple@2x.png"); }

#popup-container .search-form .search-form__input {
  width: 160px;
  -moz-appearance: none;
  font-size: 14px;
  font-weight: normal;
  background: none repeat scroll 0% 0% transparent;
  outline: medium none;
  border: medium none;
  padding: 0;
  line-height: 24px;
  height: 24px;
  z-index: 1;
  margin-left: 54px;
  margin-top: 9px; }
  #popup-container .search-form .search-form__input::placeholder {
    color: #c3c3c3; }

#popup-container .search-form .search-form__go {
  position: absolute;
  top: 4px;
  right: 30px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDIwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGcgaWQ9InNlYXJjaC1sb3VwZSI+PGc+PGc+PHBhdGggc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6Izg4ODg4ODsiIGQ9Ik0xOC43LDE2LjJsLTIuOS0yLjlDMTYuNSwxMi4xLDE3LDEwLjYsMTcsOWMwLTQuNC0zLjYtOC04LThTMSw0LjYsMSw5czMuNiw4LDgsOGMxLjYsMCwzLTAuNSw0LjMtMS4ybDIuOSwyLjljMC41LDAuNSwxLjIsMC41LDEuNiwwbDAuOC0wLjhDMTkuMSwxNy40LDE5LjEsMTYuNywxOC43LDE2LjJ6IE05LDE1Yy0zLjMsMC02LTIuNy02LTZjMC0zLjMsMi43LTYsNi02YzMuMywwLDYsMi43LDYsNkMxNSwxMi4zLDEyLjMsMTUsOSwxNXoiLz48L2c+PC9nPjwvZz48L3N2Zz4=);
  background-position: 47% 46%;
  background-size: 18px 18px;
  height: 34px;
  width: 42px;
  color: #888888;
  padding: 0px 0.64em;
  min-height: 1.8em;
  margin-bottom: 2px;
  margin-right: 2px;
  border-radius: 2px;
  background-color: transparent;
  background-repeat: no-repeat;
  -moz-appearance: none;
  display: block;
  cursor: pointer;
  text-align: center;
  border: medium none;
  outline: medium none; }
  #popup-container .search-form .search-form__go:hover, #popup-container .search-form .search-form__go.selected {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDIwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGcgaWQ9InNlYXJjaC1sb3VwZSI+PGc+PGc+PHBhdGggc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6I2ZmZmZmZjsiIGQ9Ik0xOC43LDE2LjJsLTIuOS0yLjlDMTYuNSwxMi4xLDE3LDEwLjYsMTcsOWMwLTQuNC0zLjYtOC04LThTMSw0LjYsMSw5czMuNiw4LDgsOGMxLjYsMCwzLTAuNSw0LjMtMS4ybDIuOSwyLjljMC41LDAuNSwxLjIsMC41LDEuNiwwbDAuOC0wLjhDMTkuMSwxNy40LDE5LjEsMTYuNywxOC43LDE2LjJ6IE05LDE1Yy0zLjMsMC02LTIuNy02LTZjMC0zLjMsMi43LTYsNi02YzMuMywwLDYsMi43LDYsNkMxNSwxMi4zLDEyLjMsMTUsOSwxNXoiLz48L2c+PC9nPjwvZz48L3N2Zz4=) !important;
    background-color: #589e4d !important; }

#popup-container .search-form .search-form__submit {
  display: none; }

#popup-container .search-form .icon__settings {
  top: 12px;
  right: 12.5px; }

#popup-container .hamburger-menu {
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  #popup-container .hamburger-menu__bg {
    z-index: -1;
    background-color: #333333;
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  #popup-container .hamburger-menu__content {
    z-index: 1;
    margin-top: 20px;
    position: relative; }
    #popup-container .hamburger-menu__content .hamburger-menu__content__more-options {
      padding: 15px 20px; }
    #popup-container .hamburger-menu__content .hamburger-menu__close-container {
      top: 15px; }
      #popup-container .hamburger-menu__content .hamburger-menu__close-container .icon__close {
        top: 15px; }
    #popup-container .hamburger-menu__content .hamburger-menu__links {
      padding-top: 0; }
      #popup-container .hamburger-menu__content .hamburger-menu__links .menu-title {
        padding-top: 0;
        padding-left: 20px;
        color: #333333;
        font-weight: bold; }
        #popup-container .hamburger-menu__content .hamburger-menu__links .menu-title span {
          font-size: 14px;
          color: #888888;
          display: block;
          font-weight: normal;
          padding-left: 20px; }
        #popup-container .hamburger-menu__content .hamburger-menu__links .menu-title:hover {
          text-decoration: none; }

#popup-container .site-info--placeholder {
  height: 335px; }

#popup-container .site-info {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin-top: 0; }
  #popup-container .site-info .default-list {
    padding-bottom: 0; }
  #popup-container .site-info .site-info__domain,
  #popup-container .site-info .site-info__protection {
    line-height: 1.4em;
    height: 1.2em;
    display: block;
    max-width: 175px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis; }
  #popup-container .site-info .site-info__domain {
    margin-top: 7.5px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    font-size: 17px; }
  #popup-container .site-info .site-info__tosdr-status {
    padding: 15px 20px 0px 20px; }
  #popup-container .site-info .site-info__tosdr-msg {
    color: #888888;
    font-size: 13px;
    padding: 7.5px 20px 15px 20px; }
    #popup-container .site-info .site-info__tosdr-msg a {
      padding: 0px;
      color: #888888; }
  .is-disabled #popup-container .site-info .site-info__li--toggle {
    opacity: 0.5; }
  #popup-container .site-info .site-info__toggle-container {
    position: absolute;
    right: 20px;
    top: 18px; }
    #popup-container .site-info .site-info__toggle-container .toggle-button {
      position: absolute;
      right: 0; }
  #popup-container .site-info .site-info__rating-li {
    padding-top: 0; }
  #popup-container .site-info .site-info__rating-container {
    padding: 0 20px 15px 20px;
    text-align: center; }
  #popup-container .site-info .site-info__rating-upgrade {
    padding-top: 7.5px; }
  #popup-container .site-info .site-info__rating {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    width: 80px;
    height: 64px;
    margin-top: 15px; }
    .is-browser--chrome #popup-container .site-info .site-info__rating.site-info__rating--calculating {
      background-image: url(chrome-extension://__MSG_@@extension_id__/img/hero-rating__calculating-state.svg); }
    .is-browser--moz #popup-container .site-info .site-info__rating.site-info__rating--calculating {
      background-image: url(moz-extension://__MSG_@@extension_id__/img/hero-rating__calculating-state.svg); }
    .is-browser--chrome #popup-container .site-info .site-info__rating.site-info__rating--null {
      background-image: url(chrome-extension://__MSG_@@extension_id__/img/hero-rating__null-state.svg); }
    .is-browser--moz #popup-container .site-info .site-info__rating.site-info__rating--null {
      background-image: url(moz-extension://__MSG_@@extension_id__/img/hero-rating__null-state.svg); }
    .is-browser--chrome #popup-container .site-info .site-info__rating.site-info__rating--a {
      background-image: url(chrome-extension://__MSG_@@extension_id__/img/hero-rating__a.svg); }
    .is-browser--moz #popup-container .site-info .site-info__rating.site-info__rating--a {
      background-image: url(moz-extension://__MSG_@@extension_id__/img/hero-rating__a.svg); }
    .is-browser--chrome #popup-container .site-info .site-info__rating.site-info__rating--a.is-active {
      background-image: url(chrome-extension://__MSG_@@extension_id__/img/hero-rating__a--is-active.svg); }
    .is-browser--moz #popup-container .site-info .site-info__rating.site-info__rating--a.is-active {
      background-image: url(moz-extension://__MSG_@@extension_id__/img/hero-rating__a--is-active.svg); }
    .is-browser--chrome #popup-container .site-info .site-info__rating.site-info__rating--b {
      background-image: url(chrome-extension://__MSG_@@extension_id__/img/hero-rating__b.svg); }
    .is-browser--moz #popup-container .site-info .site-info__rating.site-info__rating--b {
      background-image: url(moz-extension://__MSG_@@extension_id__/img/hero-rating__b.svg); }
    .is-browser--chrome #popup-container .site-info .site-info__rating.site-info__rating--b.is-active {
      background-image: url(chrome-extension://__MSG_@@extension_id__/img/hero-rating__b--is-active.svg); }
    .is-browser--moz #popup-container .site-info .site-info__rating.site-info__rating--b.is-active {
      background-image: url(moz-extension://__MSG_@@extension_id__/img/hero-rating__b--is-active.svg); }
    .is-browser--chrome #popup-container .site-info .site-info__rating.site-info__rating--c {
      background-image: url(chrome-extension://__MSG_@@extension_id__/img/hero-rating__c.svg); }
    .is-browser--moz #popup-container .site-info .site-info__rating.site-info__rating--c {
      background-image: url(moz-extension://__MSG_@@extension_id__/img/hero-rating__c.svg); }
    .is-browser--chrome #popup-container .site-info .site-info__rating.site-info__rating--c.is-active {
      background-image: url(chrome-extension://__MSG_@@extension_id__/img/hero-rating__c--is-active.svg); }
    .is-browser--moz #popup-container .site-info .site-info__rating.site-info__rating--c.is-active {
      background-image: url(moz-extension://__MSG_@@extension_id__/img/hero-rating__c--is-active.svg); }
    .is-browser--chrome #popup-container .site-info .site-info__rating.site-info__rating--d {
      background-image: url(chrome-extension://__MSG_@@extension_id__/img/hero-rating__d.svg); }
    .is-browser--moz #popup-container .site-info .site-info__rating.site-info__rating--d {
      background-image: url(moz-extension://__MSG_@@extension_id__/img/hero-rating__d.svg); }
    .is-browser--chrome #popup-container .site-info .site-info__rating.site-info__rating--d.is-active {
      background-image: url(chrome-extension://__MSG_@@extension_id__/img/hero-rating__d--is-active.svg); }
    .is-browser--moz #popup-container .site-info .site-info__rating.site-info__rating--d.is-active {
      background-image: url(moz-extension://__MSG_@@extension_id__/img/hero-rating__d--is-active.svg); }
    .is-browser--chrome #popup-container .site-info .site-info__rating.site-info__rating--f {
      background-image: url(chrome-extension://__MSG_@@extension_id__/img/hero-rating__f.svg); }
    .is-browser--moz #popup-container .site-info .site-info__rating.site-info__rating--f {
      background-image: url(moz-extension://__MSG_@@extension_id__/img/hero-rating__f.svg); }
    .is-browser--chrome #popup-container .site-info .site-info__rating.site-info__rating--f.is-active {
      background-image: url(chrome-extension://__MSG_@@extension_id__/img/hero-rating__f--is-active.svg); }
    .is-browser--moz #popup-container .site-info .site-info__rating.site-info__rating--f.is-active {
      background-image: url(moz-extension://__MSG_@@extension_id__/img/hero-rating__f--is-active.svg); }
  #popup-container .site-info .site-info__li--https-status {
    position: relative;
    padding-left: 45px; }
    .is-disabled #popup-container .site-info .site-info__li--https-status {
      opacity: 0.5; }
  #popup-container .site-info .site-info__https-status__icon {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    position: absolute;
    width: 17px;
    height: 22px;
    top: 10px;
    left: 20px;
    width: 15px; }
    .is-browser--chrome #popup-container .site-info .site-info__https-status__icon.is-secure, .is-browser--chrome #popup-container .site-info .site-info__https-status__icon.is-upgraded {
      background-image: url("chrome-extension://__MSG_@@extension_id__/img/https--on.svg"); }
    .is-browser--moz #popup-container .site-info .site-info__https-status__icon.is-secure, .is-browser--moz #popup-container .site-info .site-info__https-status__icon.is-upgraded {
      background-image: url("moz-extension://__MSG_@@extension_id__/img/https--on.svg"); }
    .is-browser--chrome #popup-container .site-info .site-info__https-status__icon.is-none, .is-browser--chrome #popup-container .site-info .site-info__https-status__icon.is-insecure {
      background-image: url("chrome-extension://__MSG_@@extension_id__/img/https--off.svg"); }
    .is-browser--moz #popup-container .site-info .site-info__https-status__icon.is-none, .is-browser--moz #popup-container .site-info .site-info__https-status__icon.is-insecure {
      background-image: url("moz-extension://__MSG_@@extension_id__/img/https--off.svg"); }
  #popup-container .site-info .site-info__https-status__msg {
    font-size: 12px;
    color: #888888;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold; }
    #popup-container .site-info .site-info__https-status__msg.is-secure, #popup-container .site-info .site-info__https-status__msg.is_upgraded {
      color: #3fa248; }
    #popup-container .site-info .site-info__https-status__msg.is-insecure {
      color: #888888; }
  #popup-container .site-info .site-info__li--trackers {
    position: relative;
    padding-left: 45px; }
    .is-disabled #popup-container .site-info .site-info__li--trackers {
      opacity: 0.5; }
    #popup-container .site-info .site-info__li--trackers .site-info__trackers .site-info__trackers-status__icon {
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      position: absolute;
      width: 17px;
      height: 22px;
      top: 10px;
      left: 20px;
      top: 12.5px; }
      .is-browser--chrome #popup-container .site-info .site-info__li--trackers .site-info__trackers .site-info__trackers-status__icon.is-blocking--true {
        background-image: url("chrome-extension://__MSG_@@extension_id__/img/blocking--on.svg"); }
      .is-browser--moz #popup-container .site-info .site-info__li--trackers .site-info__trackers .site-info__trackers-status__icon.is-blocking--true {
        background-image: url("moz-extension://__MSG_@@extension_id__/img/blocking--on.svg"); }
      .is-browser--chrome #popup-container .site-info .site-info__li--trackers .site-info__trackers .site-info__trackers-status__icon.is-blocking--false {
        background-image: url("chrome-extension://__MSG_@@extension_id__/img/blocking--off.svg"); }
      .is-browser--moz #popup-container .site-info .site-info__li--trackers .site-info__trackers .site-info__trackers-status__icon.is-blocking--false {
        background-image: url("moz-extension://__MSG_@@extension_id__/img/blocking--off.svg"); }
    #popup-container .site-info .site-info__li--trackers .site-info__trackers .float-right {
      max-width: 140px;
      text-align: right;
      color: #888888;
      line-height: 20px; }
      #popup-container .site-info .site-info__li--trackers .site-info__trackers .float-right.is-active {
        color: #3fa248; }
  #popup-container .site-info .site-info__li--more-details .link-secondary {
    display: block; }
    body.is-disabled #popup-container .site-info .site-info__li--more-details .link-secondary {
      cursor: default;
      opacity: 0.5; }
      body.is-disabled #popup-container .site-info .site-info__li--more-details .link-secondary:hover {
        text-decoration: none; }

#popup-container .top-blocked {
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  margin-top: 0; }
  #popup-container .top-blocked .top-blocked__list {
    padding-top: 10px;
    padding-bottom: 10px; }
    #popup-container .top-blocked .top-blocked__list .top-blocked__li:first-child {
      padding-top: 0; }
    #popup-container .top-blocked .top-blocked__list .top-blocked__li--no-data {
      margin-top: 15px; }

#popup-container .sliding-subview {
  overflow-y: auto; }
  #popup-container .sliding-subview .hamburger-button {
    display: none; }
  #popup-container .sliding-subview .site-info--details {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    top: initial; }
    #popup-container .sliding-subview .site-info--details .site-info__domain {
      margin-left: 20px;
      line-height: 20px;
      height: 21px;
      max-width: 225px;
      text-align: left;
      font-size: 14px;
      margin-top: 0; }
    #popup-container .sliding-subview .site-info--details .site-info__rating {
      position: absolute;
      top: 0;
      right: 15px;
      width: 30px;
      height: 24px; }
    #popup-container .sliding-subview .site-info--details .site-info--details__explainer {
      color: #888888;
      font-size: 13px;
      padding: 7.5px 20px 15px 20px; }
    #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list {
      overflow-y: auto;
      height: 230px;
      padding: 0 20px 60px 20px; }
      #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li.is-empty {
        padding: 15px 0 120px 0; }
      #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li:first-child {
        padding-top: 7.5px; }
      #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon {
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        width: 22px;
        height: 22px;
        margin-top: -6px;
        margin-left: -4px;
        margin-bottom: 8px;
        overflow: hidden;
        line-height: 100px;
        border: 1px solid #fff;
        border-radius: 24px; }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.adobe {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-adobe.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.adobe {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-adobe.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.adtech {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-adtech.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.adtech {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-adtech.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.amazon {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-amazon.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.amazon {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-amazon.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.aol {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-aol.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.aol {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-aol.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.appnexus {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-appnexus.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.appnexus {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-appnexus.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.casale {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-casale.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.casale {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-casale.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.chartbeat {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-chartbeat.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.chartbeat {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-chartbeat.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.comscore {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-comscore.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.comscore {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-comscore.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.criteo {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-criteo.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.criteo {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-criteo.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.facebook {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-facebook.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.facebook {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-facebook.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.fox {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-fox.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.fox {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-fox.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.google {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-google.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.google {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-google.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.mixpanel {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-mixpanel.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.mixpanel {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-mixpanel.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.moat {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-moat.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.moat {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-moat.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.newrelic {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-newrelic.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.newrelic {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-newrelic.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.nielsen {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-nielsen.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.nielsen {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-nielsen.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.openx {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-openx.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.openx {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-openx.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.outbrain {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-outbrain.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.outbrain {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-outbrain.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.quantcast {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-quantcast.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.quantcast {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-quantcast.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.salesforce {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-salesforce.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.salesforce {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-salesforce.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.taboola {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-taboola.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.taboola {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-taboola.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.twitter {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-twitter.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.twitter {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-twitter.svg"); }
        .is-browser--chrome #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.yandex {
          background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-yandex.svg"); }
        .is-browser--moz #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li .site-info__tracker__icon.yandex {
          background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-yandex.svg"); }
      #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list li:last-child .site-info__trackers__company-list__url-list {
        margin-bottom: 60px; }
      #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list .site-info__trackers__company-list__url-list li {
        padding-top: 7.5px;
        font-size: 13px;
        color: #888888;
        position: relative; }
        #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list .site-info__trackers__company-list__url-list li .url {
          display: block;
          width: 65%;
          text-overflow: ellipsis;
          overflow: hidden; }
        #popup-container .sliding-subview .site-info--details .site-info__trackers__company-list .site-info__trackers__company-list__url-list li .category {
          top: 7.5px;
          max-width: 85px;
          right: 0;
          text-align: right; }
  #popup-container .sliding-subview .top-blocked__list {
    z-index: 0;
    overflow-y: auto;
    padding-top: 0;
    padding-bottom: 30px;
    margin-top: 0;
    max-height: 315px; }
  #popup-container .sliding-subview .top-blocked__pct {
    margin: 0;
    padding: 15px 20px 7.5px 20px;
    color: #888888; }
  #popup-container .sliding-subview .top-blocked__reset-stats {
    position: absolute;
    height: 50px;
    top: 470px;
    left: 0;
    right: 0;
    padding: 15px 20px;
    text-align: center; }
    #popup-container .sliding-subview .top-blocked__reset-stats button {
      display: inline-block;
      border: 1px solid #666666;
      padding: 7.5px 15px;
      border-radius: 3px;
      background-color: #f5f5f5; }
    #popup-container .sliding-subview .top-blocked__reset-stats p {
      margin-top: 15px;
      color: #888888; }

/* Top blocked lists */
.top-blocked__list {
  margin: 0;
  padding-bottom: 0; }
  .top-blocked__list .top-blocked__li {
    z-index: 0;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    clear: both; }
    .top-blocked__list .top-blocked__li.top-blocked__li--no-data {
      text-align: center;
      padding-top: 30px; }
      .top-blocked__list .top-blocked__li.top-blocked__li--no-data p {
        color: #888888;
        font-size: 15px;
        margin-bottom: 15px; }
      .top-blocked__list .top-blocked__li.top-blocked__li--no-data .top-blocked__no-data__graph {
        width: 80px;
        height: 40px;
        padding: 10px 15px;
        margin: 0 auto 15px auto;
        border-radius: 5px;
        background: #e5e5e5; }
        .top-blocked__list .top-blocked__li.top-blocked__li--no-data .top-blocked__no-data__graph .top-blocked__no-data__graph__bar {
          width: 5px;
          background-color: #F1F2F6;
          border-radius: 5px;
          display: inline-block;
          margin-right: 15px;
          vertical-align: bottom; }
          .top-blocked__list .top-blocked__li.top-blocked__li--no-data .top-blocked__no-data__graph .top-blocked__no-data__graph__bar.one {
            height: 100%; }
          .top-blocked__list .top-blocked__li.top-blocked__li--no-data .top-blocked__no-data__graph .top-blocked__no-data__graph__bar.two {
            height: 75%; }
          .top-blocked__list .top-blocked__li.top-blocked__li--no-data .top-blocked__no-data__graph .top-blocked__no-data__graph__bar.three {
            height: 50%; }
          .top-blocked__list .top-blocked__li.top-blocked__li--no-data .top-blocked__no-data__graph .top-blocked__no-data__graph__bar.four {
            height: 25%; }
          .top-blocked__list .top-blocked__li.top-blocked__li--no-data .top-blocked__no-data__graph .top-blocked__no-data__graph__bar:last-child {
            margin-right: 0; }
    .top-blocked__list .top-blocked__li .top-blocked__li__company-name {
      position: relative;
      float: left;
      width: 60px;
      height: 1.2em;
      margin-right: 15px;
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis; }
    .top-blocked__list .top-blocked__li .top-blocked__li__blocker-bar {
      position: relative;
      top: 5px;
      float: left;
      width: 145px;
      height: 5px;
      margin-right: 10px;
      vertical-align: top;
      border-radius: 5px;
      background: #e5e5e5; }
      .top-blocked__list .top-blocked__li .top-blocked__li__blocker-bar .top-blocked__li__blocker-bar__fg {
        background: #333333;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        transition: width 0.5s ease-in-out; }
    .top-blocked__list .top-blocked__li .top-blocked__li__blocker-pct {
      float: left;
      font-size: 13px;
      color: #ffffff;
      transition: all 0.5s ease-in-out; }
    .top-blocked__list .top-blocked__li.top-blocked__li--see-all {
      padding-top: 10px;
      padding-left: 20px;
      margin: 30px 0 0 0; }
      .top-blocked__list .top-blocked__li.top-blocked__li--see-all .link-secondary {
        position: relative;
        font-weight: bold;
        padding-top: 3.5px;
        padding-bottom: 3.5px;
        display: block; }
        .top-blocked__list .top-blocked__li.top-blocked__li--see-all .link-secondary .icon__arrow {
          padding-top: 1px; }

/* Generic menu list styling */
.default-list {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 14px;
  margin-top: 0; }
  .default-list li {
    padding-top: 15px; }
    .default-list li .icon__arrow {
      right: 15px; }

/* Generic toggle button styling */
.toggle-button {
  z-index: 0;
  position: absolute;
  right: 14px;
  width: 32px;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: left; }
  .toggle-button .toggle-button__bg {
    z-index: -1;
    position: absolute;
    right: 0;
    width: 32px;
    overflow: visible;
    height: 12px;
    border-radius: 12px; }
  .toggle-button .toggle-button__knob {
    z-index: 2;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #ffffff;
    margin-top: -2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25); }
  .toggle-button.toggle-button--is-active-false .toggle-button__knob {
    margin-left: 0px; }
  .toggle-button.toggle-button--is-active-false .toggle-button__bg {
    background-color: #888888; }
  .toggle-button.toggle-button--is-active-true .toggle-button__knob {
    margin-left: 16px; }
  .toggle-button.toggle-button--is-active-true .toggle-button__bg {
    background-color: #3fa248; }

/* Sliding subviews */
.sliding-subview {
  position: absolute;
  top: 0;
  left: 300px;
  width: 300px;
  height: 100%; }
  .sliding-subview.sliding-subview--root {
    position: fixed;
    top: 0;
    left: 0;
    transition: left 0.35s ease-in-out; }
    .sliding-subview.sliding-subview--root.sliding-subview--open {
      left: -300px; }
  .sliding-subview.sliding-subview--has-fixed-header {
    padding: 42px 0 0 0;
    width: 300px;
    /* 270px - 14*2 */
    margin-bottom: 28px; }
  .sliding-subview .sliding-subview__header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 42px;
    margin: 0;
    font-size: 1.14em;
    color: #383838;
    overflow: hidden; }
    .sliding-subview .sliding-subview__header .sliding-subview__header__back,
    .sliding-subview .sliding-subview__header .sliding-subview__header__title {
      height: 26px;
      width: 14px;
      color: #333333;
      font-size: 14px;
      font-weight: bold;
      padding: 14px 0 0 14px;
      display: inline-block; }
      .sliding-subview .sliding-subview__header .sliding-subview__header__back.sliding-subview__header__back--is-icon,
      .sliding-subview .sliding-subview__header .sliding-subview__header__title.sliding-subview__header__back--is-icon {
        padding-left: 35px; }
    .sliding-subview .sliding-subview__header .sliding-subview__header__title {
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: auto;
      text-align: center;
      font-weight: bold;
      color: #333333;
      padding: 14px 0 10px 0;
      text-decoration: none; }
