version: 2
updates:
    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'weekly'
      open-pull-requests-limit: 20
      target-branch: 'main'
      labels:
          - 'dependencies'
      groups:
          content-scope-scripts:
              patterns:
                  - '@duckduckgo/content-scope-scripts'
                  - '@duckduckgo/privacy-configuration'
          types:
              patterns:
                  - '@types/*'
          test:
              patterns:
                  - 'karma*'
                  - '@playwright/*'
                  - 'timekeeper'
          build:
              patterns:
                  - '@duckduckgo/eslint-config'
                  - 'eslint*'
                  - 'sass'
                  - 'esbuild'
                  - 'yargs'
                  - 'web-ext'
    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'weekly'
      target-branch: 'main'
      labels:
          - 'dependencies'
