{
    "extends": ["standard", "eslint:recommended"],
    "rules": {
        "indent": ["error", 4],
        "generator-star-spacing": ["error", {"before": false, "after": true}],
        "no-shadow": "error"
    },
    "env": {
        "webextensions": true,
        "browser": true,
        "jasmine": true
    }
}