{
    "extends": "standard",
    "rules": {
        "indent": ["error", 4],
        "no-shadow": ["error"]
    },
    "env": {
        "webextensions": true,
        "browser": true,
        "jasmine": true,
        "jquery": true
    }
}
