{
    "extends": "standard",
    "rules": {
        "indent": ["error", 4],
        "semi": ["error", "always"]
    },
    "env": {
        "webextensions": true,
        "browser": true,
        "jasmine": true
    }
}
