.DS_Store
*.pem
jshint_log.txt
node_modules
npm-debug.log
.cache
*.map
public/js/*.*
public/css/*.*
*.swp
shared/data/tracker_lists/trackersWithParentCompany.json
build/firefox
build/chrome
build/safari
test/background.js
