.DS_Store
*.pem
jshint_log.txt
node_modules
npm-debug.log
.cache
*.map
public/js/*.*
public/css/*.*
*.swp
*.swo
build/firefox
build/chrome
build/chrome-mv3
build/safari
build/test
test/background.js
scripts/mv3/data/
shared/data/tracker_lists/surrogates/
shared/data/tracker_lists/rules.json