[submodule "unit-test/data/reference-tests"]
	path = unit-test/data/reference-tests
	url = https://github.com/duckduckgo/privacy-reference-tests
[submodule "shared/tracker-surrogates"]
	path = shared/tracker-surrogates
	url = https://github.com/duckduckgo/tracker-surrogates.git
[submodule "shared/content-scope-scripts"]
	path = shared/content-scope-scripts
	url = https://github.com/jonathanKingston/content-scope-scripts
