.breakage-form {
    z-index: 30;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $white;

    &__content {
        z-index: 1;
        margin-top: 0;
        position: relative;
        padding: 20px 20px 20px;
        background-color: $white;
        margin: 0;
        text-align: center;

        .breakage-form__close-container {
            top: 13px;
            right: 15px;
            position: absolute;
        }

        .form__icon--wrapper {
            padding-bottom: 5px;
            margin: 0 20px;
            position: relative;
        }

        .form__icon {
            @include cross_platform_bg_image("broken-bicycle.svg");
            width: 96px;
            height: 96px;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            vertical-align: middle;
            margin-top: 10px;
        }

        .breakage-form__element {
            opacity: 1;
            transition: all .2s ease-in-out;

            &.is-transparent {
                opacity: 0;
                max-height: 0;
                overflow: hidden;
            }
        }

        .breakage-form__title {
            font-size: 18px;
            padding: 5px 0 0;
        }

        .breakage-form__explanation {
            display: block;
            font-weight: bold;
            font-size: 1em;
            line-height: 1.35em;
            margin-bottom: 20px;
            margin-top: 5px;
            color: $slate-light;
        }

        .breakage-form__message {
            text-align: center;
            font-weight: normal;
            color: $slate;
            padding-bottom: 20px;
            transition: all .2s ease-in-out;
            opacity: 1;

            &.is-transparent {
                opacity: 0;
            }
        }

        .breakage-form-text-area {
            resize: none;
            width: 100%;
            height: 110px;
            background: #fafafa;
            border: 1px solid $color--dark-silver;
            border-radius: 3px;
            display: block;
            box-sizing: border-box;
            margin-bottom: 8px;
        }

        .breakage-form__success--title {
            font-size: 18px;
            padding-top: 5px;
        }

        .breakage-form__success--message {
            font-size: 1em;
            line-height: 1.35em;
            margin-top: 5px;
            color: $slate-light;
        }

        .form__label__select {
            display: block;
            text-align: left;
            font-weight: bold;
            font-size: 1em;
            margin-bottom: 8px;
            color: $slate;
        }

        .form__select {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 3px;
            position: relative;
            overflow: hidden;
            line-height: 2.3;
            height: 2.6em;
            margin-bottom: 20px;
            width: 100%;
            display: block;
            border: 1px solid $color--dark-silver;
            background-color: #fafafa;
            padding: 0;
            vertical-align: middle;
            cursor: pointer;
        }

        .form__select:after {
            speak: none;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            content: "\203A";
            color: $color--medium-dark-slate;
            margin-top: -9px;
            font-size: 20px;
            line-height: 1;
            pointer-events: none;
            vertical-align: middle;
            display: inline-block;
            right: 12px;
            top: 50%;
            position: absolute;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        .form__select:hover {
            background-color: $white;
        }

        .form__select select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            background: none;
            color: $slate-light;
            cursor: pointer;
            margin: 0;
            padding: 0 28px 0 1em;
            position: relative;
            display: block;
            font-size: 1em;
            line-height: inherit;
            min-width: 10em;
            width: 100% !important;
            height: 2.5em !important;
            outline: none !important;
            border: none !important
        }

        .form__submit {
            height: 2.75em;
            width: 100%;
            border-radius: 4px;
            background-color: #6e90f7;
            line-height: 2.85;
            font-size: 1.1em;
            font-weight: bold;
            text-align: center;
            color: $white;
            padding: 3px 0;
            margin-bottom: 15px;
            cursor: pointer;
            display: inline-block;
            text-decoration: none;

            &.btn-disabled {
                background-color: #e3e3e3;
                color: $grey;
                cursor: default;
            }
        }

        .form__disable {
            background: #eeeeee;
            color: #333333;
            margin-bottom: 0;
        }

        .breakage-form__success--buttons {
            margin-top: 22px;

            .form__submit {
                margin-bottom: 8px;
            }
        }

        .breakage-form__footer {
            font-size: 12px;
            line-height: 14px;
            color: $slate-light;
        }

        .breakage-form__show-more {
            margin-top: 8px;
            font-size: 12px;
            line-height: 14px;
            color: $slate-light;
            text-align: left;

            .breakage-form__show-more-list {
                margin-left: 16px;
            }
        }

        .show-more-btn {
            color: #6e90f7;
        }

        .breakage-form-separator {
            width: 268px;
            height: 1px;
            left: 16px;
            margin-top: 15px;
            background: #f2f2f2;
        }

        .breakage-form-disable-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px;
            height: 48px;
        }

        .disable-protection-text-line {
            color: #6e90f7;
            font-size: 14px;
            line-height: 16px;
        }

        .is-hidden {
            display: none !important;
        }
    }
}

.breakage-form.show-more {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

