.rating-hero-container {
    .hero__icon {
        width: 81px;
        height: 67px;
    }

    .hero__icon--calculating {
        @include cross_platform_bg_image("hero-rating__calculating-state.svg");
    }
    .hero__icon--null {
        @include cross_platform_bg_image("hero-rating__null-state.svg");
    }

    @each $rating in $ratings {
        .hero__icon--#{$rating} {
            @include cross_platform_bg_image("hero-rating__#{$rating}.svg");
        }
        .hero__icon--#{$rating}--active {
            @include cross_platform_bg_image("hero-rating__#{$rating}--is-active.svg");
        }
    }
}
