#popup-container .site-info.privacy-practices {
    box-sizing: border-box;

    .privacy-practices__explainer {
        @include explainer-padding();
    }

    .hero {
        padding-top: 9px;
    }

    .hero__close {
        top: calc(50% - 16px);
    }

    .hero__icon {
        width: 68px;
        height: 65px;
        margin-bottom: 12px;
        margin-top: 0;
    }

    .hero__icon--good {
        @include cross_platform_bg_image("hero-ribbon__good.svg");
    }
    .hero__icon--poor {
        @include cross_platform_bg_image("hero-ribbon__bad.svg");
    }
    .hero__icon--mixed,
    .hero__icon--unknown {
        @include cross_platform_bg_image("hero-ribbon__mixed.svg");
    }
}

.privacy-practices__explainer {
    line-height: 18px;
}

.privacy-practices__details {
    min-height: 112px;

    .is-browser--moz & {
        min-height: 107px;
    }

    .has-top-blocked--truncated &,
    .has-top-blocked--truncated.is-browser--moz & {
        min-height: 162px;
    }
}

.privacy-practices__details__title {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 5px;
}

.privacy-practices__details__msg {
    line-height: 18px;
}

.privacy-practices__attrib {
    a,
    a:visited,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: underline;
    }
}
