.privacy-practices {
    min-height: 100%;
    box-sizing: border-box;
    padding-top: 9px;
}

.privacy-practices__overview,
.privacy-practices__explainer,
.privacy-practices__attrib {
    text-align: center;
}

// the domain duplicate the same styles
// as the ones in the main view, but they aren't reusable
// because of some overriding rules for the subviews
// TODO DRY this up
.privacy-practices__overview__domain {
    line-height: 24px;
    height: 24px;
    display: block;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 11px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    font-size: 17px;
}

.privacy-practices__overview__subtitle {
    padding-top: 7.5px;
    @include uppercase_label();
}

.privacy-practices__overview__icon {
    width: 48px;
    height: 65px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

// TODO dry these up also
.privacy-practices__overview__icon--good {
    @include cross_platform_bg_image("hero-ribbon__good.svg");
}

.privacy-practices__overview__icon--bad {
    @include cross_platform_bg_image("hero-ribbon__bad.svg");
}

.privacy-practices__overview__icon--mixed,
// TODO doublechecked unknown should look the same as mixed
.privacy-practices__overview__icon--unknown {
    @include cross_platform_bg_image("hero-ribbon__mixed.svg");
}

.privacy-practices__attrib {
    a,
    a:visited,
    a:hover,
    a:focus {
        font-weight: 600;
        color: inherit;
        text-decoration: underline;
    }
}

.privacy-practices__details {
}

.privacy-practices__detail-item {
    font-weight: 600;
    padding-left: 40px;
    list-style-type: none;
    line-height: 22px;
    margin-bottom: 20px;
    font-size: 16px;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 22px;
        height: 100%;
        background-repeat: no-repeat;
        background-position-y: center;
    }
}

.privacy-practices__detail-item--good {
    &:before {
        @include cross_platform_bg_image("status--good.svg");
    }
}

.privacy-practices__detail-item--bad {
    &:before {
        @include cross_platform_bg_image("status--bad.svg");
    }
}
