.search-form {
    background-color: $color--dark-grey;

    .ddg-logo {
        @include ddg_logo--small();
        background-size: cover;
        width: 22px;
        height: 22px;
        position: absolute;
        top: 9px;
        left: 19px;
    }
}

.search-form__input {
    width: 160px;
    -moz-appearance: none;
    font-size: 14px;
    font-weight: normal;
    background: none repeat scroll 0% 0% transparent;
    outline: medium none;
    border: medium none;
    padding: 0;
    line-height: 24px;
    height: 24px;
    z-index: 1;
    margin-left: 54px;
    margin-top: 9px;
    color: $color--silver;

    &::placeholder {
        color: #afafaf;
    }
}


.search-form__go {
    @include cross_platform_bg_image("loupe.svg");
    position: absolute;
    top: 4px;
    right: 30px;
    background-position: 47% 46%;
    background-size: 18px 18px;
    height: 34px;
    width: 42px;
    padding: 0px 0.64em;
    min-height: 1.8em;
    margin-bottom: 2px;
    margin-right: 2px;
    border-radius: 2px;
    background-color: transparent;
    background-repeat: no-repeat;
    -moz-appearance: none;
    display: block;
    cursor: pointer;
    text-align: center;
    border: medium none;
    outline: medium none;

    &:hover, &.selected {
        @include cross_platform_bg_image("loupe--highlight.svg");
    }
}
