.status-list {
}

.status-list--right {
  .status-list__item {
    padding-left: 0;
    padding-right: 40px;

    &:before {
      left: auto;
      right: 0;
    }
  }
}

.status-list__item {
    padding-left: 40px;
    list-style-type: none;
    line-height: 22px;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 22px;
        background-repeat: no-repeat;
        background-position-y: center;

        // doing the height this way allows it to be centered for one-line items
        // but flush with the top of the text for longer items
        min-height: 22px;
        height: 50%;
        max-height: 30px;
    }
}

$statuses: ("good", "bad", "mixed");

@each $status in $statuses {
    .status-list__item--#{$status} {
        &:before {
            @include cross_platform_bg_image("status--#{$status}.svg");
        }
    }
}

$rating-colors: (
  "a": $color--site-rating--a,
  "b-plus": $color--site-rating--b,
  "b": $color--site-rating--b,
  "c-plus": $color--site-rating--c,
  "c": $color--site-rating--c,
  "d": $color--site-rating--d,
  "f": $color--site-rating--f
);

@each $rating, $color in $rating-colors {
    .status-list__item--#{$rating} {
        &:before {
            @include cross_platform_bg_image("rating-letters/#{$rating}.svg");
        }

        &.is-highlighted {
            color: $color;
        }
    }
}
