.top-blocked--full {
    height: 400px;
    overflow-y: auto;

    .hero__icon {
        width: 60px;
        height: 55px;
    }
}

.hero__icon--top-blocked-good {
    @include cross_platform_bg_image("hero-top-trackers__good.svg");
}

.top-blocked__list {
    z-index: 0;
    padding-top: 0;
    padding-bottom: 30px;
    margin-top: 0;
    max-height: 315px;
}

.top-blocked__pct {
    margin: 0;
    padding: 15px 20px 7.5px 20px;
}

.top-blocked__reset-stats {
    position: absolute;
    height: 50px;
    top: 470px;
    left: 0;
    right: 0;
    padding: 15px 20px;
    text-align: center;

    button {
        display: inline-block;
        border: 1px solid $slate-light;
        padding: 7.5px 15px;
        border-radius: 3px;
        background-color: $color--neutral-bg;
    }

    p {
        margin-top: 15px;
        color: $color--grey;
    }
}

.top-blocked__li__company-name {
    position: relative;
    float: left;
    width: 60px;
    height: 1.2em;
    margin-right: 15px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-blocked__li__blocker-bar {
    position: relative;
    top: 5px;
    float: left;
    width: 145px;
    height: 5px;
    margin-right: 10px;
    vertical-align: top;
    border-radius: 5px;
    background: $platinum-light;
}

.top-blocked__li__blocker-bar__fg {
    background: $slate;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    transition: width 0.5s ease-in-out;
}

.top-blocked__li__blocker-pct {
    font-size: 13px;
    transition: all 0.5s ease-in-out;
    padding-left: 5px;
    vertical-align: middle;
}
