.tracker-networks {
    .hero__icon {
        width: 58px;
        height: 65px;
    }
    .hero__subtitle {
        line-height: 18px;
    }

    .tracker-networks__explainer {
        @include explainer-padding();
    }
    .non-tracker-networks__explainer {
        @include explainer-padding();
    }

    .tracker-list-header {
        color: rgba(0, 0, 0, 0.5);
        font-size: 13px;
        padding: 13px 0;
        text-align: center;
        margin-bottom: 10px;
    }

    .about-link {
        padding-top: 10px;
        display: block;
    }
}

.tracker-networks__details {
    padding-left: 20px;
    padding-right: 20px;
}

// this handles lists without a heading element - those need a bit of extra room
.tracker-networks__details--margin {
    padding-top: 10px;
}

.hero__icon--non-networks {
    @include cross_platform_bg_image("hero-on-non-networks.svg");
}

.hero__icon--zero {
    @include cross_platform_bg_image("hero-zero.svg");
}

.hero__icon--zero {
    @include cross_platform_bg_image("hero-zero.svg");
}

.hero__icon--major-networks-blocked {
    @include cross_platform_bg_image("hero-on-major-networks.svg");
}

.hero__icon--major-networks-zero {
    @include cross_platform_bg_image("hero-zero.svg");
}

.icon-major-networks-blocked, .icon-good {
    @include cross_platform_bg_image($status--good);
}

.hero__icon--major-networks-warning {
    @include cross_platform_bg_image("hero-warning-major-networks.svg");
}

.hero__icon--major-networks-info {
    @include cross_platform_bg_image("hero-on-non-networks.svg");
}

.icon-major-networks-warning {
    @include cross_platform_bg_image($status--bad);
}

.icon-major-networks-info, .icon-info {
    @include cross_platform_bg_image($status--info);
}

#popup-container .tracker-networks .default-list.site-info__trackers__company-list__url-list {
    padding-bottom: 20px;
    padding-top: 9px;
    font-size: 14px;
    line-height: 1.5;

    li {
        padding-top: 0;
    }
}

.tracker-networks .default-list.site-info__trackers__company-list {
    .site-info__tracker__icon {
        @include icon_display();
        @include tracker_network_icons_subview();
        width: 20px;
        height: 20px;
        overflow: hidden;
        background-size: contain;
    }
}
.tracker-networks h1.site-info__domain {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: -0.2px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 12px;
}

.site-info__trackers__company-list__url-list {
    .url-list-item {
        display: flex;
    }
    .url {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        // overflow to the left if the text is too long
        direction: rtl;
        padding-right: 10px;
    }
    .category {
        white-space: nowrap;
        text-align: right;
    }
}
