.hero__icon {
    width: 58px;
    height: 65px;
}

.hero__icon--major-networks-blocked {
    @include cross_platform_bg_image("hero-on-major-networks.svg");
}
.hero__icon--major-networks-warning {
    @include cross_platform_bg_image("hero-warning-major-networks.svg");
}

#popup-container .tracker-networks .default-list.site-info__trackers__company-list__url-list {
    padding-bottom: 10px;
    padding-top: 4px;
    font-size: 14px;
    line-height: 1.5;

    li {
        padding-top: 0;
    }

    .site-info__tracker__icon {
        @include icon_display();
        @include tracker_network_icons_subview();
        
        width: 22px;
        height: 22px;
        margin-top: -6px;
        margin-left: -4px;
        margin-bottom: 8px;
        overflow: hidden;
        line-height: 100px;
        background-size:contain;
    }
}

.tracker-networks h1.site-info__domain {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: -0.2px;
}

