.breakage-form {
    z-index: 30;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__bg {
        z-index: -1;
        background-color: $breakage-form__bg-color;
        opacity: 0.9;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__content {
        z-index: 1;
        margin-top: 110px;
        position: relative;
        padding: 40px 20px 20px;

        .breakage-form__close-container {
            top: 15px;

            .icon__close {
                top: 15px;
            }
        }

        .breakage-form__explanation {
            display: block;
            text-align: left;
            font-weight: normal;
            font-size: 1.1em;
            margin-bottom: 15px;
            margin-top: 5px;
            color: $breakage-form__text-color;
        }

        .breakage-form__message {
            text-align: center;
            font-weight: normal;
            font-size: 1.1em;
            color: $breakage-form__text-color;
            padding-bottom: 20px;
        }

        .breakage-form__success {
            font-size: 1.25em;
            margin-bottom: 10px;
        }

        .form__label__select {
            display: block;
            text-align: left;
            font-weight: normal;
            font-size: 1.1em;
            margin-bottom: 10px;
            color: $breakage-form__text-color;
        }

        .form__select {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 4px;
            position: relative;
            overflow: hidden;
            line-height: 2.2;
            height: 2.2em;
            margin-bottom: 25px;
            width: 100%;
            display: block;
            border: 1px solid #ddd;
            background-color: #fafafa;
            color: $breakage-form__text-color;
            padding: 0;
            vertical-align: middle;
            cursor: pointer;
        }

        .form__select:after {
            speak: none;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            content: "\203A";
            margin-top: -8px;
            font-size: 18px;
            line-height: 1;
            pointer-events: none;
            vertical-align: middle;
            display: inline-block;
            right: 12px;
            top: 50%;
            position: absolute;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        .form__select:hover {
            background-color: $white;
        }

        .form__select select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            background: none;
            cursor: pointer;
            margin: 0;
            padding: 0 28px 0 .75em;
            position: relative;
            display: block;
            font-size: 1em;
            line-height: inherit;
            min-width: 10em;
            width: 100% !important;
            height: 2.2em !important;
            outline: none !important;
            border: none !important
        }

        .form__checkbox__container {
            margin-bottom: 20px;
        }

        .form__checkbox {
            display: inline-block;
            vertical-align: top;
            margin: 3px 5px 0 0;
        }

        .form__label__checkbox {
            display: inline-block;
            width: 225px;
        }

        .form__submit {
            height: 2em;
            width: 100%;
            border-radius: 4px;
            background-color: $blue;
            line-height: 2;
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            color: $white;
            padding: 3px 0;
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
        }
    }
}

