/* Tracker Network Icons */
$icons: ("adobe", "adtech", "amazon", "aol", "appnexus", "chartbeat", "comscore", "facebook", "fox", "generic", "google", "mixpanel", "moat", "nielsen", "outbrain", "quantcast", "taboola", "twitter", "yahoo", "yandex");

@mixin tracker_network_icons () {

    @each $name in $icons {
        &.#{$name} {
            .is-browser--chrome & {
                background-image: url("chrome-extension://__MSG_@@extension_id__/img/tn-#{$name}.svg");
            }
            .is-browser--moz & {
                background-image: url("moz-extension://__MSG_@@extension_id__/img/tn-#{$name}.svg");
            }
        }
    }
}

@mixin tracker_network_icons_bg () {
    
    @each $name in $icons {
        &.#{$name} {
            // trackers subview
            &.site-info__tracker__wrapper {
                background-color: $color--light-grey;
            }
        }
    }
}
