// VARS
$banner-background: #4F535C;
$banner-width: 650px;
$banner-height: 70px;
$banner-logo-height: 80px;
$banner-margin: 20px;

%blurred {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}


// DDG ADDED CLASSES
.ddg-viewport {
    .has-modal & {
        top: $banner-height !important;
    }

    .is-blurred & {
        @extend %blurred;
    }
}

// .ddg-searchform {
//     .is-serp.has-modal & {
//         // need to override inline styles
//         top: 0px !important;
//     }
// }

// GOOGLE SERP CLASSES
.is-serp.has-modal {
    // Push Google tabs down
    // #main #cnt {
    //     padding-top: $banner-height + $banner-margin;
    // }

    // // force floating searchbar shadow below banner
    // .minidiv .sfbg {
    //     z-index: -1 !important;
    // }
}


// DDG BANNER ELEMENTS
%flexrow {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

%ddgb-text,
.ddgb__text {
    font-size: 14px;
    line-height: 15px;
}

%close-icon {
    &:hover {
        cursor: pointer;
    }
}

.ddgb {
    @extend %flexrow;

    position: fixed;
    right: 0;
    top: 20px;
    z-index: 1000;

    .is-blurred & {
        @extend %blurred;
    }

    // used to put white background behind logo
    // prevents use of negative margins
    &::before {
        content: '';
        display: block;
        height: $banner-height;
        width: 50px;
        background: white;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.ddgb__logo {
    height: $banner-logo-height;
    width: auto;
    z-index: 1010;
}

.ddgb-inner {
    @extend %flexrow;
    flex: 1;
    box-sizing: border-box;
    height: $banner-height;
    width: $banner-width;
    background: $banner-background;
    color: white;
}

.ddgb__content {
    padding: 12px 27px 13px 12px;
}

.ddgb__title {
    font-size: 17px;;
    font-weight: bold;
    margin-bottom: 7px;
}
.ddgb__text {
    font-style: italic;
}

.ddgb__btn {
    @extend %ddgb-text;
    text-decoration: underline;

    &:hover {
        cursor: pointer;
    }
}

.ddgb__close {
    @extend %close-icon;
    position: absolute;
    top: 14px;
    right: 12px;
}


// DDG BANNER MODAL
.ddgm-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    background: #99999991;

    &.is-hidden {
        display: none;;
    }
}

.ddgm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.ddgm__logo {
    margin: -44px 0 0;
}

.ddgm-content {
    position: relative;
    width: 440px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
    background: #678FFF;

    &__top {
        padding: 20px 45px;
        min-height: 220px;
        border-radius: 4px 4px 0 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        background: white;

        &__title {
            font-size: 22px;
            line-height: 26px;
            letter-spacing: -0.33px;
            margin-bottom: 10px;
            color: #333333;
        }

        &__text {
            font-size: 15px;
            line-height: 20px;
            letter-spacing: -0.09375px;
            font-style: italic;
            color: #333333;
        }
    }

    &__bottom {
        min-height: 110px;
        padding: 20px 45px;
        color: white;

        &__title {
            font-style: italic;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 10px;
        }

        &__text {
            text-decoration: underline;
            font-size: 12px;
            line-height: 14px;
        }
    }
}

.ddgm__close {
    @extend %close-icon;
    position: absolute;
    top: 12px;
    right: 12px;
}

