// VARS
$banner-background: #4F535C;
$banner-width: 600px;
$banner-height: 70px;
$banner-logo-height: 80px;
$banner-margin: 20px;

// Animations
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to { opacity: 1 }
}

@keyframes showBanner {
    from { right: -640px; }
    to { right: 0px; }
}

@keyframes hideBanner {
    from { right: 0px; }
    to { right: -640px; }
}


%blurred {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

%btn-link, .btn--link {
    text-decoration: underline;

    &:hover {
        cursor: pointer;
    }
}


// DDG ADDED CLASSES
.ddg-viewport {
    .has-modal & {
        top: $banner-height !important;
    }

    .is-blurred & {
        @extend %blurred;
    }
}

// GOOGLE SERP CLASSES
.is-serp.has-modal {}

// DDG BANNER ELEMENTS
%flexrow {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

%ddgb-text,
.ddgb__text {
    font-size: 14px;
    line-height: 15px;
}

%close-icon {
    &:hover {
        cursor: pointer;
    }
}

.ddgb {
    @extend %flexrow;

    position: fixed;
    top: 70px;
    right: -640px;
    height: $banner-height;
    z-index: 1000;

    &.slideIn {
        // animated slide-in from offscreen on load
        animation: slideIn 400ms ease-out forwards;
        animation-iteration-count: 1;
    }

    &.hideBanner {
        animation: hideBanner 250ms ease-in forwards;
    }

    &.showBanner {
        animation: showBanner 400ms ease-out forwards;
    }

    .is-blurred & {
        @extend %blurred;
    }
}

.ddgb__logo {
    height: $banner-logo-height;
    width: auto;
    z-index: 1010;
}

.ddgb-inner {
    @extend %flexrow;
    flex: 1;
    box-sizing: border-box;
    height: $banner-height;
    width: $banner-width;
    background: $banner-background;
    color: white;

    padding-left: 50px;
    margin-left: 50px;

    transition: margin 200ms ease-in 50ms;

    .showBanner & {
        margin-left: -50px;
    }
}

.ddgb__content {
    padding: 12px 27px 13px 12px;
}

.ddgb__title {
    font-size: 17px;;
    font-weight: bold;
    margin-bottom: 7px;
}

.ddgb__text {
    font-style: italic;
}

.ddgb__btn {
    @extend %ddgb-text;
    @extend %btn-link;
}

.ddgb__close {
    @extend %close-icon;
    position: absolute;
    top: 14px;
    right: 12px;
}


// DDG BANNER MODAL
.ddgm-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    background: #99999991;

    &.is-hidden {
        display: none;;
    }
}

.ddgm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.ddgm__logo {
    margin: -44px 0 0;
}

.ddgm-content {
    position: relative;
    width: 440px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
    background: #678FFF;

    &__top {
        padding: 20px 45px;
        min-height: 220px;
        border-radius: 4px 4px 0 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        background: white;

        &__title {
            font-size: 22px;
            line-height: 26px;
            letter-spacing: -0.33px;
            margin-bottom: 10px;
            color: #333333;
        }

        &__text {
            font-size: 15px;
            line-height: 20px;
            letter-spacing: -0.09375px;
            font-style: italic;
            color: #333333;
        }
    }

    &__bottom {
        min-height: 110px;
        padding: 20px 45px;
        color: white;

        &__title {
            font-style: italic;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 10px;
        }

        &__text {
            @extend %btn-link;
            
            font-size: 12px;
            line-height: 14px;
        }
    }
}

.ddgm__close {
    @extend %close-icon;
    position: absolute;
    top: 12px;
    right: 12px;
}

