@import "vars";
@import "mixins";


/* Generic menu list styling */
@include default_list();


/* Generic toggle button styling */
@include toggle_button();

@import "views/extension-page";

/* allowlist */
@import "views/allowlist";

.options-info {
    font-weight: bold;
    margin-bottom: 10px;
    color: $slate;
}

.options-content__privacy {
    li {
        font-weight: bold;
    }

    // Correct vertical centering of the toggle
    .toggle-button {
        margin-top: -4px;
    }
}

.fire-button-toggle {
    height: 30px;
    padding: 0px 0px 1px 0px;
}

button:disabled {
    background-color: $color--light-slate;
}

.js-options-set-config-url {
    height: 36px !important;
}
