@import "vars";
@import "mixins";


/* Popup */
html, body {
    width: $popup__width;
    height: $popup__height;
}

body {
    overflow: hidden;

    &.is-browser--moz {
        height: $popup__height--moz;
    }
}

#popup-container {

    .failover.card {
        position: absolute;
        top: 14px;
        right: 7px;
        bottom: 63px;
        left: 7px;

        p {
            padding: 7px 21px;
            font-weight: bold;
            font-size: 15px;
            color: $platinum-darker;
        }
    }

    .hamburger-button {
    }

    .hamburger-menu {
        z-index: 20;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &__bg {
            z-index: -1;
            background-color: $hamburger-menu__bg-color;
            opacity: 0.9;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &__content {
            z-index: 1;
            margin-top: 20px;
            position: relative;

            .hamburger-menu__content__more-options {
                padding: 15px 20px;
            }

            .hamburger-menu__close-container {
                top: 15px;

                .icon__close {
                    top: 15px;
                }
            }

            .hamburger-menu__links {
                padding-top: 0;
                /* hide report broken site option on special urls */
                li:last-child {
                    .is-disabled & {
                        display: none;
                    }
                }

                .menu-title {
                    padding-top: 0;
                    padding-left: 20px;
                    color: $slate;
                    font-weight: bold;

                    span {
                        font-size: 14px;
                        color: $color--grey;
                        display: block;
                        font-weight: normal;
                        padding-left: 20px;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .site-info--placeholder {
        height: 388px;
    }

    .site-info {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin-top: 0;

        .default-list {
           padding-bottom: 0;
        }

        .text-line-after-icon {
           margin-left: 12px;
        }

        .text-line-after-icon.privacy-on-off-message {
           margin-left: 2px;
        }

        .site-info__confirm-thanks {
            text-align: center;
        }

       .site-info__whitelist-status, .site-info__confirm-thanks {
           margin-top: 0;
           transition: margin 0.3s ease;

           .icon.icon__check,
           .icon.icon__shield,
           .text-line-after-icon,
           .site-info__message {
               opacity: 1;
               transition: opacity 0.3s ease;
           }
       }

       .site-info__whitelist-status.is-transparent, .site-info__confirm-thanks.is-transparent {
           margin-top: -18px; 

           .icon.icon__check,
           .icon.icon__shield,
           .text-line-after-icon,
           .site-info__message {
               opacity: 0;
           }
       }

        .site-info__protection {
            opacity: 1;
            margin-top: 0;
            max-height: 20px;
        }

        .site-info--confirm-breakage {
            opacity: 1;
            margin-top: -3px;
            max-height: 20px;
        }

        .site-info__protection.is-transparent, .site-info--confirm-breakage.is-transparent {
            margin-top: 16px;
            opacity: 0;
            max-height: 0;
            transition: all 0.3s ease;
        }

        .site-info__li--toggle {
            background-color: $color--medium-slate;
            color: $color--white;
            max-height: 19px;
            overflow: hidden;

            &.is-active {
                background-color: $color--green;
            }

            .is-disabled & {
                @include is_disabled();
            }
        }

        .site-info__toggle-container {
            position: absolute;
            right: 20px;
            top: 16px;

            .toggle-button {
                position: absolute;
                right: 0;
            }

            .toggle-button--is-active-true {
                .toggle-button__bg {
                    background-color: $color--dark-green;
                }
            }
            .toggle-button--is-active-false {
                .toggle-button__bg {
                    background-color: #4B4D50;
                }
            }
        }

        .site-info__rating-li {
            padding-top: 8px;
        }

        .site-info__li--https-status {
            position: relative;
            padding-left: 45px;

            .is-disabled & {
                @include is_disabled();
            }
        }

        @mixin site_status_icons () {
            position: absolute;
            width: 17px;
            height: 22px;
            top: 10px;
        }

        .site-info__https-status__icon {
            @include icon_display();
            @include site_status_icons();
            width: 15px;
            left: 24px;

            &.is-secure, // default = secure, https
            &.is-upgraded {
                @include cross_platform_bg_image("https--on.svg");
            }

            &.is-none,
            &.is-insecure { // none = insecure, http
                @include cross_platform_bg_image("https--off.svg");
            }
        }

        .site-info__li--trackers {
            position: relative;
            padding-left: 45px;
            cursor: pointer;

            .is-disabled & {
                @include is_disabled();
            }

            .site-info__trackers {

                .site-info__trackers-status__icon {
                    @include icon_display();
                    @include site_status_icons();
                    height: 30px;
                    width: 27px;
                    left: 20px;

                    &.is-blocking--true {
                        @include cross_platform_bg_image("blocking--on.svg");
                    }

                    &.is-blocking--false {
                        @include cross_platform_bg_image("blocking--off.svg");
                    }
                }

                .float-right {
                    max-width: 140px;
                    text-align: right;
                    color: $color--grey;
                    line-height: 20px;

                    &.is-active {
                        color: $color--green;
                    }
                }
            }
        }

        .site-info__li--privacy-practices {
            position: relative;
            padding-left: 45px;
            cursor: pointer;

            .is-disabled & {
                @include is_disabled();
            }
        }

        .site-info__privacy-practices__icon {
            @include icon_display();
            @include site_status_icons();
            left: 23px;
            top: 12px;
            
            &.is-good {
                @include cross_platform_bg_image("privacy--good.svg");
            }

            &.is-bad {
                @include cross_platform_bg_image("privacy--bad.svg");
            }

            &.is-mixed,
            &.is-unknown {
                @include cross_platform_bg_image("privacy--mixed.svg");
            }
        }

        .site-info__li--manage-whitelist {
            background-color: $white; 

            .is-disabled & {
                @include is_disabled();
            }
        }

        .site-info__li--confirm-breakage {
            background-color: $white;
            color: $slate;
            font-weight: bold;
            max-height: 18px;
            overflow: hidden;
        }

        .site-info--is-site-broken {
            display: inline-block;
            margin: 0 8px 0 3px;
        }

        .btn-pill {
            @include btn-pill(12px);
            margin: -2px 0 0 2px;
        }

        .link-secondary {
            @include is_disableable_link();
        }
    }

    .site-info--full-height {
        position: relative;
        margin-top: 0;
        top: 0;
        height: 100%;
        overflow-y: auto;
    }

    // main popup view has a coloured hero section
    // so it doesn't need the extra space on top
    .site-info--main {
        top: auto;
    }

    .top-blocked {
        position: absolute;
        top: 440px;
        left: 0;
        right: 0;
        margin-top: 0;
        padding-bottom: 15px;

        &.top-blocked--truncated {
            padding-top: 12px;
            top: 438px;
            bottom: 0px;
        }

        .top-blocked__list {
            padding-top: 0;
            padding-bottom: 5px;

            .top-blocked__li:first-child {
                padding-top: 0;
            }

            .top-blocked__li--no-data {
                margin-top: 12px;
            }
        }
    }

    .sliding-subview {
        overflow-y: auto;

        .hamburger-button { // TODO: revive this at some point!
            display: none;
        }

        .top-blocked__list {
            z-index: 0;
            overflow-y: auto;
            padding-top: 0;
            padding-bottom: 30px;
            margin-top: 0;
            max-height: 315px;
        }

        .top-blocked__pct {
            margin: 0;
            padding: 15px 20px 7.5px 20px;
        }

        .top-blocked__reset-stats {
            position: absolute;
            height: 50px;
            top: 470px;
            left: 0;
            right: 0;
            padding: 15px 20px;
            text-align: center;

            button {
                display: inline-block;
                border: 1px solid $slate-light;
                padding: 7.5px 15px;
                border-radius: 3px;
                background-color: $color--neutral-bg;
            }

            p {
                margin-top: 15px;
                color: $color--grey;
            }
        }
    }

}


/* Top blocked lists */
.top-blocked__see-all {
   padding-top: 14px;
   padding-left: 20px;
   margin: 48px 0 0 0;
   cursor: pointer;

   .link-secondary {
       position: relative;
       font-weight: bold;
       padding-top: 3.5px;
       padding-bottom: 3.5px;
       display: block;

       .icon__arrow {
           padding-top: 1px;
       }
   }
}

.top-blocked__list {
    margin: 0;
    padding-bottom: 0;

    .icon__arrow {
        margin-top: 4px;
        right: 15px;
    }

    .top-blocked__li {
        z-index: 0;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        clear: both;

       &.top-blocked__li--truncated {
           float: left;
           clear: none;
           margin-left: 12px;
           margin-right: 0;
           padding-top: 0;

           &:first-child {
               margin-left: 24px;
           }
       }

       .top-blocked__pill {
           border-radius: 100px;
           background-color: $color--medium-slate;
           height: 27px;

           .top-blocked__pill__blocker-pct {
               float: left;
               color: $white;
               font-size: 16px;
               letter-spacing: 1.2px;
               font-weight: bold;
               text-align: right;
               width: 34px;
               height: 19px;
               margin: 4px 9px 3px 0;
           }

           .top-blocked__pill__divider {
               width: 1px;
               height: 17px;
               opacity: 0.4;
               border-radius: 0.5px;
               background-color: $white;
               margin: 5px 5px 6px 5px;
               float: left;
           }

           .top-blocked__pill-site__icon-container {
                margin: 7px 0 7px 9px;
                float: left;
                box-sizing: border-box;
           }

           .top-blocked__pill-site__icon {
                @include icon_display();
                @include tracker_network_icons();

                background-size: contain;
                margin: auto;
                background-position-x: center;
                vertical-align: unset;
                height: 13px;
                width: 13.5px;
           }
       }

        &.top-blocked__li--no-data {
            text-align: center;
            padding-top: 30px;

            p {
                color: $color--medium-dark-slate;
                font-size: 12px;
                margin-top: 8px;
            }

            p.top-blocked__no-data__lead {
                margin-bottom: 2px;
                font-size: 16px;
                font-weight: 600;
                margin-top: 11px;
            }

            .top-blocked__no-data__graph {
                width: 48px;
                height: 32px;
                padding: 5px 11px;
                margin: 0 auto;
                border-radius: 3px;
                background: $platinum-dark;

                .top-blocked__no-data__graph__bar {
                    width: 5px;
                    background-color: #F1F2F6;
                    border-radius: 5px;
                    display: inline-block;
                    margin-right: 4px;
                    vertical-align: bottom;

                    &.one {
                        height: 100%;
                    }

                    &.two {
                        height: 75%;
                    }

                    &.three {
                        height: 50%;
                    }

                    &.four {
                        height: 25%;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        .top-blocked__li__company-name {
            position: relative;
            float: left;
            width: 90px;
            height: 1.2em;
            margin-right: 15px;
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .top-blocked__li__blocker-bar {
            position: relative;
            top: 5px;
            float: left;
            width: 110px;
            height: 5px;
            margin-right: 15px;
            vertical-align: top;
            border-radius: 5px;
            background: $platinum-light;

            .top-blocked__li__blocker-bar__fg {
                background: $slate;
                border-radius: 5px;
                position: absolute;
                top: 0;
                left: 0;
                height: 5px;
                transition: width 0.5s ease-in-out;
            }
        }

        .top-blocked__li__blocker-pct {
            font-size: 13px;
            transition: all 0.5s ease-in-out;
            padding-left: 5px;
            vertical-align: middle;
        }
    }
}

@import "views/search-form";
@import "views/hero";
@import "views/hero-rating-container";
@import "views/status-list";
@import "views/privacy-practices";
@import "views/tracker-networks";
@import "views/breakage-form";

/* Generic menu list styling */
@include default_list();


/* Generic toggle button styling */
@include toggle_button();


/* Sliding subviews */
@include sliding_subview();
