@import "vars";
@import "mixins";


/* Popup */
html, body {
    width: $popup__width;
}

body {
    overflow: hidden;
}

#popup-container {

    .failover.card {
        position: absolute;
        top: 14px;
        right: 7px;
        bottom: 63px;
        left: 7px;

        p {
            padding: 7px 21px;
            font-weight: bold;
            font-size: 15px;
            color: $platinum-darker;
        }
    }

    .hamburger-menu {
        z-index: 20;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &__bg {
            z-index: -1;
            background-color: $hamburger-menu__bg-color;
            opacity: 0.9;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &__content {
            z-index: 1;
            margin-top: 20px;
            position: relative;

            .hamburger-menu__content__more-options {
                padding: 15px 20px;
            }

            .hamburger-menu__close-container {
                top: 15px;

                .icon__close {
                    top: 15px;
                }
            }

            .hamburger-menu__links {
                li:not(:first-child) {
                    margin-top: 10px;
                }

                /* hide report broken site option on special urls */
                li:last-child {
                    .is-disabled & {
                        display: none;
                    }
                }

                .menu-title {
                    padding-top: 0;
                    padding-left: 20px;
                    color: $slate;
                    font-weight: bold;

                    span {
                        font-size: 14px;
                        color: $color--grey;
                        display: block;
                        font-weight: normal;
                        padding-left: 20px;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .text-line-after-icon {
        margin-left: 12px;
    }

    .site-info {
        margin-top: 0;

        .default-list {
           padding-bottom: 0;
        }

        .text-line-after-icon.privacy-on-off-message {
           margin-left: 2px;
        }

        .site-info__confirm-thanks {
            text-align: center;
        }

       .site-info__whitelist-status, .site-info__confirm-thanks {
           margin-top: 0;
           transition: margin 0.3s ease;

           .icon.icon__check,
           .icon.icon__shield,
           .text-line-after-icon,
           .site-info__message {
               opacity: 1;
               transition: opacity 0.3s ease;
           }
       }

       .site-info__whitelist-status.is-transparent, .site-info__confirm-thanks.is-transparent {
           margin-top: -18px;

           .icon.icon__check,
           .icon.icon__shield,
           .text-line-after-icon,
           .site-info__message {
               opacity: 0;
           }
       }

        .site-info__protection {
            opacity: 1;
            margin-top: 0;
            max-height: 20px;
            margin-left: 3px;
        }

        .site-info--confirm-breakage {
            opacity: 1;
            margin-top: -3px;
            max-height: 20px;
        }

        .site-info__protection.is-transparent, .site-info--confirm-breakage.is-transparent {
            margin-top: 16px;
            opacity: 0;
            max-height: 0;
            transition: all 0.3s ease;
        }

        .site-info__li--toggle {
            background-color: $color--extra-light-platinum;
            color: $slate;
            max-height: 19px;
            overflow: hidden;

            .is-disabled & {
                @include is_disabled();
            }
        }

        .site-info__toggle-container {
            position: absolute;
            right: 20px;
            top: 12px;

            .toggle-button {
                position: absolute;
                right: -4px;
            }

            .toggle-button--is-active-true {
                .toggle-button__bg {
                    background-color: $color--green;
                }
            }
            .toggle-button--is-active-false {
                .toggle-button__bg {
                    background-color: $color--medium-dark-platinum;
                }
            }
        }

        .site-info__rating-li {
            padding-top: 8px;

            &.main-rating {
                padding-top: 0;
            }
        }

        .site-info__li--https-status {
            position: relative;
            padding-left: 45px;

            .is-disabled & {
                @include is_disabled();
            }
        }

        @mixin site_status_icons () {
            position: absolute;
            top: 14px;
            left: 18px;
        }

        .site-info__https-status__icon {
            @include icon_display();
            @include site_status_icons();

            &.is-secure, // default = secure, https
            &.is-upgraded {
                @include cross_platform_bg_image($status--good);
            }

            &.is-none,
            &.is-insecure { // none = insecure, http
                @include cross_platform_bg_image($status--bad);
            }
        }

        .site-info__li--trackers {
            position: relative;
            padding-left: 45px;
            cursor: pointer;

            .is-disabled & {
                @include is_disabled();
            }

            .site-info__trackers {

                .site-info__trackers-status__icon {
                    @include icon_display();
                    @include site_status_icons();

                    &.is-blocking--true {
                        @include cross_platform_bg_image("blocking--on.svg");
                    }

                    &.is-blocking--false {
                        @include cross_platform_bg_image("blocking--off.svg");
                    }
                }

                .float-right {
                    max-width: 140px;
                    text-align: right;
                    color: $color--grey;
                    line-height: 20px;

                    &.is-active {
                        color: $color--green;
                    }
                }
            }
        }

        .site-info__li--privacy-practices {
            position: relative;
            padding-left: 45px;
            cursor: pointer;

            .is-disabled & {
                @include is_disabled();
            }
        }

        .site-info__privacy-practices__icon {
            @include icon_display();
            @include site_status_icons();

            &.is-good {
                @include cross_platform_bg_image($status--good);
            }

            &.is-poor {
                @include cross_platform_bg_image($status--bad);
            }

            &.is-mixed,
            &.is-unknown {
                @include cross_platform_bg_image($status--mixed);
            }
        }

        .site-info__li--manage-whitelist {
            background-color: $white;
            border-top: 1px solid rgba(0, 0, 0, 0.05);
            text-align: center;

            .is-disabled & {
                @include is_disabled();
            }
        }

        .site-info__li--confirm-breakage {
            background-color: $white;
            color: $slate;
            font-weight: bold;
            max-height: 18px;
            overflow: hidden;
        }

        .site-info--is-site-broken {
            display: inline-block;
            margin: 0 8px 0 3px;
        }

        .btn-pill {
            @include btn-pill(12px);
            margin: -2px 0 0 2px;
        }

        .link-secondary {
            @include is_disableable_link();
        }
    }

    .site-info--full-height {
        position: relative;
        margin-top: 0;
        height: 100%;
        overflow-y: auto;
    }

    // main popup view has a coloured hero section
    // so it doesn't need the extra space on top
    .site-info--main {
        top: auto;
    }

    .top-blocked {
        display: flex;
        align-items: center;
        height: 50px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);

        &.top-blocked--truncated {
            padding-top: 0;
        }

        .top-blocked__list {
            padding-top: 0;
            padding-bottom: 5px;

            .top-blocked__li:first-child {
                padding-top: 0;
            }

            .top-blocked__li--no-data {
                margin-top: 12px;
            }
        }
    }

    .sliding-subview {
        overflow-y: auto;

        .hamburger-button { // TODO: revive this at some point!
            display: none;
        }

        &.top-blocked-header .icon.icon__arrow {
            width: 16px;
            height: 16px;
        }

        .top-blocked__list {
            z-index: 0;
            overflow-y: auto;
            padding-top: 15px;
            padding-bottom: 30px;
            margin-top: 0;
            padding-bottom: 5px;
            max-height: 290px;
            height: 290px;
        }

        .top-blocked__pct {
            margin: 0;
            padding: 15px 20px 7.5px 20px;
            text-align: center;
        }

        .top-blocked__reset-stats {
            position: absolute;
            height: 50px;
            top: 427px;
            left: 0;
            right: 0;
            padding: 20px;
            text-align: center;

            button {
                display: inline-block;
                border: 1px solid $slate-light;
                padding: 7.5px 15px;
                border-radius: 3px;
                background-color: $white;
            }

            p {
                margin-top: 21px;
                color: $slate;
            }
        }
    }

}


/* Top blocked lists */
.top-blocked__see-all {
   width: 100%;
   padding-left: 20px;
   cursor: pointer;

   .link-secondary {
       position: relative;
       font-weight: bold;
       padding-top: 3.5px;
       padding-bottom: 3.5px;
       display: block;
       margin-left: 4px;

       .icon__arrow {
           padding-top: 1px;
           right: 15px;
           top: 8px;
       }
   }

   .top-blocked__list--icons {
       margin-left: 36px;
   }

   .top-blocked__pill-site__icon {
        @include icon_display();
        @include tracker_network_icons_subview();

        border: 1px solid $white;
        border-radius: 50%;
        margin-left: -3px;
   }
}

.top-blocked__list {
    margin: 0;
    padding-bottom: 0;

    .icon__arrow {
        margin-top: 4px;
        right: 15px;
    }

    .top-blocked__li {
        z-index: 0;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        clear: both;
        margin-bottom: 12px;
        height: 15px;

       &.top-blocked__li--truncated {
           float: left;
           clear: none;
           margin-left: 12px;
           margin-right: 0;
           padding-top: 0;

           &:first-child {
               margin-left: 24px;
           }
       }

        &.top-blocked__li--no-data {
            text-align: center;
            padding-top: 30px;

            p {
                color: $color--medium-dark-slate;
                font-size: 12px;
                margin-top: 8px;
            }

            p.top-blocked__no-data__lead {
                margin-bottom: 2px;
                font-size: 16px;
                font-weight: 600;
                margin-top: 11px;
            }

            .top-blocked__no-data__graph {
                width: 48px;
                height: 32px;
                padding: 5px 11px;
                margin: 0 auto;
                border-radius: 3px;
                background: $platinum-dark;

                .top-blocked__no-data__graph__bar {
                    width: 5px;
                    background-color: #F1F2F6;
                    border-radius: 5px;
                    display: inline-block;
                    margin-right: 4px;
                    vertical-align: bottom;

                    &.one {
                        height: 100%;
                    }

                    &.two {
                        height: 75%;
                    }

                    &.three {
                        height: 50%;
                    }

                    &.four {
                        height: 25%;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        .top-blocked__li__company-name {
            position: relative;
            float: left;
            width: 90px;
            height: 1.2em;
            margin-right: 15px;
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .top-blocked__li__blocker-bar {
            position: relative;
            top: 5px;
            float: left;
            width: 110px;
            height: 5px;
            margin-right: 15px;
            vertical-align: top;
            border-radius: 5px;
            background: $platinum-light;

            .top-blocked__li__blocker-bar__fg {
                background: $slate;
                border-radius: 5px;
                position: absolute;
                top: 0;
                left: 0;
                height: 5px;
                transition: width 0.5s ease-in-out;
            }
        }

        .top-blocked__li__blocker-pct {
            font-size: 13px;
            transition: all 0.5s ease-in-out;
            padding-left: 5px;
            vertical-align: middle;
            position: absolute;
            right: 0;
        }
    }
}

.email-alias-block {
    display: block;
    padding-left: 24px;
    color: inherit;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;

    .text-line-after-icon {
        position: relative;
        vertical-align: middle;
    }

    .alias-copied-label {
        display: block;
        position: absolute;
        top: -5px;
        left: -1px;
        width: 160px;
        padding: 5px 13px;
        text-align: center;
        background-color: $color--medium-dark-platinum;
        border-radius: 6px;
        opacity: 0;
        pointer-events: none;
    }

    &.show-copied-label {
        pointer-events: none;

        .alias-copied-label {
            animation: 2s linear both temporary;
        }
    }

    @keyframes temporary {
        5%, 90% {
            opacity: 1;
        }
        0%, 100% {
            opacity: 0;
        }
    }
}

.email-alias__icon {
    @include icon_display();
    @include cross_platform_bg_image('wand.svg');
    height: 24px;
    width: 24px;
    // The icon is larger than usual, so we adjust its position to maintain alignment
    margin: -6px -2px -4px -4px;
}

@import "views/search-form";
@import "views/hero";
@import "views/hero-rating-container";
@import "views/status-list";
@import "views/privacy-practices";
@import "views/tracker-networks";
@import "views/breakage-form";

/* Generic menu list styling */
@include default_list();


/* Generic toggle button styling */
@include toggle_button();


/* Sliding subviews */
@include sliding_subview();
