<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.duckduckgo.safari</string>
       <key>Developer Identifier</key>
       <string>HKE973VLUW</string>
       <key>CFBundleVersion</key>
       <string>39</string>
       <key>CFBundleShortVersionString</key>
       <string>1.9.0</string>
       <key>URL</key>
       <string>http://duckduckgo.com/extensions/duckduckgo.safariextz</string>
       <key>Update From Gallery</key>
       <true/>
     </dict>
   </array>
</dict>
</plist>
