<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>DuckDuckGo</string>
	<key>Builder Version</key>
	<string>13604.5.6</string>
	<key>CFBundleDisplayName</key>
	<string>DuckDuckGo Privacy Essentials</string>
	<key>CFBundleIdentifier</key>
	<string>com.duckduckgo.safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2018.8.16</string>
	<key>CFBundleVersion</key>
	<string>53</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>104857600</integer>
		<key>Global Page</key>
		<string>html/background.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>html/popup.html</string>
				<key>Height</key>
				<integer>600</integer>
				<key>Identifier</key>
				<string>popup</string>
				<key>Width</key>
				<integer>300</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>popup_button</string>
				<key>Image</key>
				<string>img/ddg-icon@2x.png</string>
				<key>Label</key>
				<string>DuckDuckGo</string>
				<key>Palette Label</key>
				<string>DuckDuckGo</string>
				<key>Popover</key>
				<string>popup</string>
				<key>Tool Tip</key>
				<string>DuckDuckGo</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>public/js/content-scripts/content-script.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>public/css/noatb.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Privacy, simplified. Protect your data as you search and browse the web.</string>
	<key>DeveloperIdentifier</key>
	<string>HKE973VLUW</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://duckduckgo.com/extensions/duckduckgo.plist</string>
	<key>Website</key>
	<string>http://duckduckgo.com</string>
</dict>
</plist>
