<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>default_search_engine</string>
		<key>Title</key>
		<string>Make DuckDuckGo the default search engine</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>installed</string>
	</dict>
</array>
</plist>
