@import "../vars";
@import "../mixins";

/* Normalize File */
@import "../../node_modules/normalize.scss/normalize";

/* Font definitions */
@import "fonts";


/**
 * DDG Chrome Extension Resets & Base Styles
 */

html, body {
    height: 100%;
    min-height: 100%;

    &.body--neutral {
        background: $color--neutral-bg;
    }
}

h1, h2, h3, h4, h5, h5, p, div {
    font-size: $font__size--default;
    margin: 0;
    padding: 0;

    &.menu-title {
      font-weight: bold;
      padding: 14px 0;
    }
}

section, ul, ol, li {
    margin: 0;
    padding: 0;

    &.divider-bottom {
        border-bottom: 1px solid $platinum;
    }
}

form, input, select, option, button {
    outline: none;

    * {
        outline: none;
    }
}


/* Fonts */
body,
input,
textarea,
select {
    font-family:$font__face--default;
    font-size: $font__size--default;
    font-weight: normal;
    color: $slate;
}

.bold {
    font-weight: bold;
}


/* Links */
a {
    color: $blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.link-secondary {
        color: $slate;
    }
}

/* Hide element */
.is-hidden {
    display: none;
}


/* Position */
.pull-right {
    position: absolute;
    right: 20px;
}

.pull-left {
    position: absolute;
    left: 20px;
}


/* Floats */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    clear: both;
    height: 0;
    line-height: 0;
}


/* Card Display */
.card {
    background-color: $card__bg-color;
    border-radius: $card__border-radius;
    box-shadow: $card__box-shadow;
    padding: $card__padding;
    margin: $card__margin;

    &.card--padded,
    .padded {
        padding: $card--padded;
    }

    .border--bottom {
        border-bottom: $card__border;
    }

    .border--top {
        border-top: $card__border;
    }
}


/* Icons */
/* Standard icon display within the extension */
.icon {
    @include icon_display();
    /* you'll need to set the background image within each instance of .icon */

    &.icon__arrow {
        width: 16px;
        height: 16px;

        .is-browser--chrome & {
            background-image: url($icon__arrow--chrome);
        }

        .is-browser--moz & {
            background-image: url($icon__arrow--moz);
        }

        &.icon__arrow--left {
            transform: rotate(180deg);
        }
    }

    &.icon__settings {
        width: 16px;
        height: 16px;

        .is-browser--chrome & {
            background-image: url($icon__settings--chrome);
        }

        .is-browser--moz & {
            background-image: url($icon__settings--moz);
        }

    }
}


/* Popover */ 
.popover {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;

    .popover__inner {
        padding: 10px;
        color: $popover__color;
        font-size: 12px;
        font-weight: normal;
        background-color: $popover__bg-color;
        border-radius: $popover__border-radius;
    }

    .arrow {
        background-color: $popover__bg-color;

        &.arrow--down {
            &:after {
                left: 240px;
                border-top: 10px solid $popover__bg-color;
            }
        }
    }
}


/* Arrow */
.arrow {
    border-top: 10px solid $arrow__bg-color;

    &.arrow--down {
        position: absolute;
        bottom: -10px;
        display: inline-block;
        width: 0;
        
        &:after {
            position: relative;
            content: '';
            display: block;  
            left: 20px;
            width: 0;
            height: 0;
            border-top: 10px solid $arrow__bg-color;
            border-bottom: 0px solid transparent;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
    }
}
