@import "../vars";
@import "../mixins";

/* Normalize File */
@import "../../../node_modules/normalize.scss/normalize";

/* Font definitions */
@import "fonts";

@import "forms";


/**
 * DDG Extension Resets & Base Styles
 */

html, body {
    height: 100%;
    min-height: 100%;

    &.body--neutral {
        background: $color--silver;
    }
}

h1, h2, h3, h4, h5, h5, p, div {
    font-size: $font__size--default;
    margin: 0;
    padding: 0;

    &.menu-title {
      font-weight: bold;
      padding: 14px 0;
    }
}

section, ul, ol, li {
    margin: 0;
    padding: 0;
    position: relative;

    &.divider-bottom {
        border-bottom: 1px solid $platinum;
    }
}

form, input, select, option, button {
    outline: none;

    * {
        outline: none;
    }
}

button {
    border: none;
    background-color: $white;
    padding: 0;
}


/* Fonts */
body,
input,
textarea,
select {
    font-family:$font__face--default;
    font-size: $font__size--default;
    font-weight: normal;
    color: $slate;
}

.bold {
    font-weight: bold;
}


/* Links */
a {
    color: $blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.link-secondary {
        color: $slate;
    }
}


/**
 * DDG Extension Helper Classes
 */


/* Hide element */
.is-hidden {
    display: none;
}


/* Position */
.pull-right {
    position: absolute;
    right: 20px;
}

.pull-left {
    position: absolute;
    left: 20px;
}


/* Display */
.block {
    display: block;
}


/* Floats */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    clear: both;
    height: 0;
    line-height: 0;
}


/* Text Centering */
.text--center {
    text-align: center;
}

.text--left {
    text-align: left;
}


/* Borders */
.border--top {
    border-top: $card__border;
}

.border--bottom {
    border-bottom: $card__border;
}

.border--bottom--inner {
    position: relative;

    &:after {
        content: "";
        border-bottom: $card__border;
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
    }
}


/* Padding */
.padded {
    padding: $card--padded;
}

.padded--no-bottom-padding {
    padding-bottom: 0;
}

/* Background */
.silver-bg {
    background-color: $color--silver;

    .border--top,
    .border--bottom {
        border-color: #d8d8d8;
    }
}

/* Hamburger Button */
.hamburger-button {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 20px;
    width: 20px;
    height: 30px;
    background-color: inherit;

    span {
        display: block;
        margin: 3px auto 0 auto;
        width: 15px;
        height: 2px;
        background-color: $hamburger-button__color;
        border-radius: 5px;
    }

    &:hover {
        span {
            background-color: $color--silver;
        }
    }
}


/* Card Display */
.card {
    background-color: $card__bg-color;
    border-radius: $card__border-radius;
    box-shadow: $card__box-shadow;
    padding: $card__padding;
    margin: $card__margin;

    &.card--transparent {
        background-color: transparent;
        box-shadow: none;
    }

    &.card--no-top-margin {
        margin-top: 0;
    }
}


/* Rating letter icons */
.rating-letter {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    margin-bottom: 2px;

    @each $rating in $ratings {
        &.rating-letter--#{$rating} {
            @include cross_platform_bg_image("rating-letters/#{$rating}.svg");
        }
    }
}


/* Icons */
/* Standard icon display within the extension */
.icon {
    @include icon_display();
    /* you'll need to set the background image within each instance of .icon */

    &.icon__close {
        width: 14px;
        height: 14px;

        @include cross_platform_bg_image("close.svg");
    }

    &.icon__arrow {
        width: 16px;
        height: 16px;

        @include cross_platform_bg_image("arrow@2x.png");

        &.icon__arrow--left {
            transform: rotate(180deg);
        }

        &.icon__arrow--large {
            width: 9.5px;
            @include cross_platform_bg_image("arrow--large.svg");
        }
    }

    &.icon__settings {
        width: 16px;
        height: 16px;

        @include cross_platform_bg_image("settings-gear@2x.png");
    }
    
    &.icon__error {
        width: 24px;
        height: 24px;
        vertical-align: bottom;
        margin-left: -2px;

        @include cross_platform_bg_image("error.svg");
    }
    
    &.icon__check {
        width: 22px;
        height: 22px;
        margin-top: -4px;
        margin-left: 1px;
        vertical-align: top;

        @include cross_platform_bg_image("check.svg");
    }
    
    &.icon__shield {
        width: 22px;
        height: 22px;
        margin-top: -4px;
        margin-left: 1px;
        vertical-align: top;

        @include cross_platform_bg_image("shield.svg");
    }
}


/* Popover
 * Template is in templates/shread/popover.es6.js
 * Sample usage:
 *    .site-info__li--trackers {
 *        position: relative;
 *
 *        &:hover {
 *            .popover.site_info__trackers__popover {
 *                display: block;
 *                top: initial;
 *                bottom: 45px;
 *            }
 *        }
 */

.popover {
    display: none;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    opacity: 0.9;

    .popover__inner {
        padding: 10px;
        color: $popover__color;
        font-size: 13px;
        font-weight: normal;
        background-color: $popover__bg-color;
        border-radius: $popover__border-radius;

        em {
            font-style: normal;
            font-weight: bold;
        }
    }

    .arrow {
        background-color: $popover__bg-color;

        &.arrow--down {
            &:after {
                left: 240px;
                border-top: 10px solid $popover__bg-color;
            }
        }
    }
}


/* Arrow */
.arrow {
    border-top: 10px solid $arrow__bg-color;

    &.arrow--down {
        position: absolute;
        bottom: -10px;
        display: inline-block;
        width: 0;

        &:after {
            position: relative;
            content: '';
            display: block;
            left: 20px;
            width: 0;
            height: 0;
            border-top: 10px solid $arrow__bg-color;
            border-bottom: 0px solid transparent;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
    }
}

/* Popout box with left arrow */
.modal-box {
    .modal-box__body {
        width: 120px;
        height: 32px;
        border-radius: 4px;
        line-height: 1.5;
        text-align: center;
        padding-top: 5px;
        margin-left: 7px;
        background-color: $white;
        border: solid 1px #ddd;
        color: $slate;
        text-align: center;
        z-index: 1;
        float: right;
    }
    
    .modal-box__popout {
        @include arrow-left(7px, $platinum);
    
        margin-right: -15px;
        margin-top: 13px;
        z-index: 3;
        float: left;
        position: absolute;
    }
    
    .modal-box__popout__body {
        @include arrow-left(6px, $white);
    
        margin-left: 2px;
        margin-top: -6px;
        z-index: 5;
    }
}

.separator {
    width: 1px;
    height: 18px;
    background-color: $color--medium-silver;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 12px;
}
