@import '../vars';
@import '../mixins';

/* Normalize File */
@import '../../../node_modules/normalize.scss/normalize';

/* Font definitions */
@import 'fonts';

@import 'forms';

/**
 * DDG Extension Resets & Base Styles
 */

html,
body {
    &.body--neutral {
        background: $color--white;
    }
}

h1,
h2,
h3,
h4,
h5,
h5,
p,
div {
    font-size: $font__size--default;
    margin: 0;
    padding: 0;

    &.menu-title {
        font-weight: bold;
        padding: 14px 0;

        &.fire-title {
            padding-top: 0px;
        }
    }
}

section,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    position: relative;

    &.divider-bottom {
        border-bottom: 1px solid $platinum;

        // Handle space between the last element in the container and the divider
        > :last-child {
            padding-bottom: 0;
            margin-bottom: 16px;
        }
    }
}

form,
input,
select,
option,
button {
    outline: none;

    * {
        outline: none;
    }
}

button {
    border: none;
    background-color: $white;
    padding: 0;
}

/* Fonts */
body,
input,
textarea,
select {
    font-family: $font__face--default;
    font-size: $font__size--default;
    font-weight: normal;
    color: $slate;
}

.bold {
    font-weight: bold;
}

/* Links */
a {
    color: $blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.link-secondary {
        color: $slate;
    }
}

/**
 * DDG Extension Helper Classes
 */

/* Hide element */
.is-hidden {
    display: none;
}

/* Position */
.pull-right {
    position: absolute;
    right: 20px;
}

.pull-left {
    position: absolute;
    left: 20px;
}

/* Display */
.block {
    display: block;
}

/* Floats */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    clear: both;
    height: 0;
    line-height: 0;
}

/* Text Centering */
.text--center {
    text-align: center;
}

.text--left {
    text-align: left;
}

/* Borders */
.border--top {
    border-top: $card__border;
}

.border--bottom {
    border-bottom: $card__border;
}

.border--bottom--inner {
    position: relative;

    &:after {
        content: '';
        border-bottom: $card__border;
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
    }
}

.border--top--inner {
    position: relative;

    &:before {
        content: '';
        border-top: $card__border;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
    }
}

/* Padding */
.padded {
    padding: $card--padded;
}

.padded--top {
    padding: $card--padded--top;
}

.padded--top-half {
    padding-top: 8px;
}

.padded--bottom-half {
    padding-bottom: 8px;
}

.padded--no-bottom-padding {
    padding-bottom: 0;
}

/* Background */
.silver-bg {
    background-color: $color--silver;

    .border--top,
    .border--bottom {
        border-color: #d8d8d8;
    }
}

.warning_bg {
    background-color: $color--yellow;
}

/* Icons */
/* Standard icon display within the extension */
.icon {
    @include icon_display();
    /* you'll need to set the background image within each instance of .icon */

    &.icon__close {
        width: 14px;
        height: 14px;

        @include cross_platform_bg_image('close.svg');
    }

    &.icon__arrow {
        width: 12px;
        height: 12px;

        @include cross_platform_bg_image('arrow@2x.png');

        &.icon__arrow--left {
            transform: rotate(180deg);
        }

        &.icon__arrow--large {
            width: 7px;
            margin-top: -20px;
            @include cross_platform_bg_image('arrow--large.svg');
        }
    }

    &.icon__settings {
        width: 16px;
        height: 16px;

        @include cross_platform_bg_image('settings-gear@2x.png');
    }

    &.icon__error {
        width: 24px;
        height: 24px;
        vertical-align: bottom;
        margin-left: -2px;

        @include cross_platform_bg_image('error.svg');
    }

    &.icon__check {
        width: 22px;
        height: 22px;
        margin-top: -2px;
        margin-left: 1px;
        vertical-align: top;

        @include cross_platform_bg_image('check.svg');
    }

    &.icon__shield {
        width: 22px;
        height: 22px;
        margin-top: -3px;
        margin-left: 1px;
        vertical-align: top;

        @include cross_platform_bg_image('shield.svg');
    }
}

/* Popover
 * Template is in templates/shread/popover.js
 * Sample usage:
 *    .site-info__li--trackers {
 *        position: relative;
 *
 *        &:hover {
 *            .popover.site_info__trackers__popover {
 *                display: block;
 *                top: initial;
 *                bottom: 45px;
 *            }
 *        }
 */

/* Popout box with left arrow */
.modal-box {
    .modal-box__body {
        width: 120px;
        height: 32px;
        border-radius: 4px;
        line-height: 1.5;
        text-align: center;
        padding-top: 5px;
        margin-left: 7px;
        background-color: $white;
        border: solid 1px #ddd;
        color: $slate;
        text-align: center;
        z-index: 1;
        float: right;
    }

    .modal-box__popout {
        @include arrow-left(7px, $platinum);

        margin-right: -15px;
        margin-top: 13px;
        z-index: 3;
        float: left;
        position: absolute;
    }

    .modal-box__popout__body {
        @include arrow-left(6px, $white);

        margin-left: 2px;
        margin-top: -6px;
        z-index: 5;
    }
}
