
#ddg_zeroclick {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #D2D2D2;
    border-radius: 6px 6px 6px 6px;
    display: block;
    margin-bottom: 20px;
}

.ddg_zeroclick_icon {
    display: inline;
    float: left;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 4px;
}

.ddg_answer {
    background: url(https://duckduckgo.com/icon16.png) 4px 4px no-repeat #F9F9F9 !important;
    line-height: 1.4;
    padding: 4px 0px 4px 30px !important;
    margin-bottom: 12px;
}


#ddg_zeroclick_header {
    padding: 5px 5px 5px 15px;
    font-weight: bold;
    font-size: 16px;
    background: #E9E9E9;
}

#ddg_zeroclick_image {
    padding: 5px;
    float: right;
}

.ddg_zeroclick_img {
    max-width: 100px;
    max-height: 100px;
}

#ddg_zeroclick_abstract {
    padding: 5px 7px 5px 15px;
    word-wrap: break-word;
}

#ddg_zeroclick_abstract a{
    text-decoration: none;
}

#ddg_zeroclick_abstract a:hover {
    text-decoration: underline;
}

#ddg_zeroclick_official_links {
    padding: 5px 0px 10px 0px;
}

#ddg_zeroclick_header a {
    text-decoration: none;
    color: #434343;
}

#ddg_zeroclick_header a:hover {
    text-decoration: underline;
}

#ddg_zeroclick_category{
    background: url(https://duckduckgo.com/assets/icon_article.v101.png) 4px 4px no-repeat #F9F9F9 !important;
    margin-top: -2px;
    line-height: 1.4;
    padding: 4px 0px 4px 24px !important;
}

#ddg_zeroclick_disambig {
    line-height: 1.4;
    padding: 0px 0px 4px 4px !important;
    min-height: 30px;
    margin-left: 38px;
}

#ddg_zeroclick_disambig_img {
    max-width: 38px;
    height: 30px;
    float: left;
    padding: 2px 0px 2px 2px;
}

#ddg_zeroclick_disambig_img img {
    max-height: 30px;
    max-width: 30px;   
}

.disambig_holder {
    margin: 3px;
}

.disambig_more {
    margin-left: 18px !important;
}

#ddg_zeroclick_more{
    background: url(https://duckduckgo.com/assets/icon_ellipsis.v101.png) 4px 4px no-repeat #F9F9F9 !important;
    margin-top: -2px;
    line-height: 1.4;
    padding: 4px 0px 4px 24px !important;
}


