name: 'Asana Sync'
on:
  pull_request_target:
    types:
      - opened
      - edited
      - closed
      - reopened
      - synchronize

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: sammacbeth/action-asana-sync@v1
        with:
          ASANA_ACCESS_TOKEN: ${{ secrets.ASANA_ACCESS_TOKEN }}
          ASANA_WORKSPACE_ID: ${{ secrets.ASANA_WORKSPACE_ID }}
          ASANA_PROJECT_ID: '312629933896096'
          move_to_section_id: '1138897367676525'
