name: Beta Release

on:
  workflow_dispatch:

jobs:
  chrome_mv3_beta:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Restore npm artifact from cache
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: |
          npm run install-ci

      - name: Fetch config and update version
        run: |
          npm run bundle-config
          node scripts/bumpVersion.js $(date "+%Y.%m.%d")
          echo "VERSION=$(jq -r .version ./browsers/chrome-mv3/manifest.json)" >> $GITHUB_ENV

      - name: Commit config and version updates
        uses: stefanzweifel/git-auto-commit-action@f6f7a9c351bb990cab0093f66c0d443d3a108a6f
        with:
          commit_message: "Prepare release ${{ env.VERSION }}"
          create_branch: true
          branch: "release/beta/${{ env.VERSION }}"

      - name: Build Chrome MV3 Beta
        run: |
          npm run beta-chrome-mv3

      - name: Publish to Chrome Store
        env:
          CWS_CLIENT_ID: ${{ secrets.CWS_CLIENT_ID }}
          CWS_CLIENT_SECRET: ${{ secrets.CWS_CLIENT_SECRET }}
          CWS_REFRESH_TOKEN: ${{ secrets.CWS_REFRESH_TOKEN }}
        run: |
          bash ./scripts/chrome-store-publish.sh ${{ secrets.CWS_BETA_EXTENSION_ID }} ./build/chrome-mv3/release/chrome-release-*.zip
