name: Publish Builds

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [release-chrome, release-firefox, beta-firefox]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - name: Dependencies
        run: |
          npm run install-ci
          npm i -g web-ext
      - name: Build
        run: |
          npm run bundle-config
          npm run ${{ matrix.target }}
          echo "VERSION=$(jq -r .version ./browsers/firefox/manifest.json)" >> $GITHUB_ENV
      - name: Package Firefox Release
        if: matrix.target == 'release-firefox'
        run: |
          cd build/firefox/release && web-ext build
          echo "NOTES=Built with node $(node --version) and npm $(npm --version)" >> $GITHUB_ENV
      - name: Package Firefox Beta
        if: matrix.target == 'beta-firefox'
        run: |
          mv build/firefox/release/web-ext-artifacts/*.zip build/firefox/release/web-ext-artifacts/duckduckgo_privacy_essentials_beta-$VERSION.zip
      - name: Publish
        uses: softprops/action-gh-release@1e07f4398721186383de40550babbdf2b84acfc5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          prerelease: true
          body: ${{ env.NOTES }}
          files: |
            ./build/firefox/release/web-ext-artifacts/*.zip
            ./build/chrome/release/*.zip
