name: Publish Builds

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        target: [release-chrome, release-firefox, beta-firefox]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Dependencies
        run: |
          npm ci
          npm i -g web-ext
      - name: Build
        run: |
          npm run generate-etags
          npm run ${{ matrix.target }}
          echo "VERSION=$(jq -r .version ./browsers/firefox/manifest.json)" >> $GITHUB_ENV
      - name: Package Firefox Release
        if: matrix.target == 'release-firefox'
        run: |
          cd build/firefox/release && web-ext build
          echo "NOTES=Built with node $(node --version) and npm $(npm --version)" >> $GITHUB_ENV
      - name: Package Firefox Beta
        if: matrix.target == 'beta-firefox'
        run: |
          mv build/firefox/release/web-ext-artifacts/*.zip build/firefox/release/web-ext-artifacts/duckduckgo_privacy_essentials_beta-$VERSION.zip
      - name: Publish
        uses: softprops/action-gh-release@9729932bfb75c05ad1f6e3a729294e05abaa7001
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          prerelease: true
          body: ${{ env.NOTES }}
          files: |
            ./build/firefox/release/web-ext-artifacts/*.zip
            ./build/chrome/release/*.zip
