name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - 'browsers/chrome/manifest.json'

jobs:
  release:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'ci release')"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm i -g web-ext
          npm run install-ci

      - name: Generate changelog
        id: changelog
        uses: metcalfc/changelog-generator@d552ecf3366cf9d6da9fd7dbe425325d3d095aa8
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Firefox
        run: |
          npm run release-firefox
          echo "VERSION=$(jq -r .version ./browsers/firefox/manifest.json)" >> $GITHUB_ENV

      - name: Build Chrome
        run: |
          npm run release-chrome

      - name: Build Chrome MV3
        run: |
          npm run release-chrome-mv3

      - name: Package Firefox
        run: |
          cd build/firefox/release && web-ext build
          echo "BUILT_WITH=Built with node $(node --version) and npm $(npm --version)" >> $GITHUB_ENV

      - name: Create Release
        uses: softprops/action-gh-release@9d7c94cfd0a1f3ed45544c887983e9fa900f0564
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: false
          prerelease: false
          body: "${{ steps.changelog.outputs.changelog }}\n\n${{ env.BUILT_WITH }}"
          tag_name: ${{ env.VERSION }}
          target_commitish: ${{ github.ref }}
          files: |
            ./build/firefox/release/web-ext-artifacts/*.zip
            ./build/chrome/release/*.zip
            ./build/chrome-mv3/release/*.zip

      - name: Asana Workflow
        env:
          ASANA_ACCESS_TOKEN: ${{ secrets.ASANA_ACCESS_TOKEN }}
          RELEASE_URL: "https://github.com/duckduckgo/duckduckgo-privacy-extension/releases/tag/${{ env.VERSION }}"
        run:
          node scripts/asana-release.js
