name: Stage Release

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: 'Release version'

jobs:
  release_pr:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm i -g web-ext
          npm run install-ci

      - name: Fetch config and update version
        run: |
          npm run bundle-config
          node scripts/bumpVersion.js ${{ github.event.inputs.version }}

      - name: Prepare release branch
        run: |
          git checkout -B release-${{ github.event.inputs.version }}
          git fetch origin release-${{ github.event.inputs.version }} || true
          git push --set-upstream origin release-${{ github.event.inputs.version }} -f

      - name: Commit config and version updates
        uses: stefanzweifel/git-auto-commit-action@8c3ed373fb7e451dbb9706bf99ad63124e33f614
        with:
          commit_message: "Prepare release ${{ github.event.inputs.version }}"
          tagging_message: ${{ github.event.inputs.version }}

      - name: Generate changelog
        id: changelog
        uses: metcalfc/changelog-generator@31b6d6f9e6e17e84ad34bee780f82d8ee79f6842
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Firefox
        run: |
          npm run release-firefox
          echo "VERSION=$(jq -r .version ./browsers/firefox/manifest.json)" >> $GITHUB_ENV

      - name: Build Chrome
        run: |
          npm run release-chrome

      - name: Package Firefox Release
        run: |
          cd build/firefox/release && web-ext build
          echo "BUILT_WITH=Built with node $(node --version) and npm $(npm --version)" >> $GITHUB_ENV

      - name: Create release draft
        uses: softprops/action-gh-release@9729932bfb75c05ad1f6e3a729294e05abaa7001
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          prerelease: true
          body: "${{ steps.changelog.outputs.changelog }}\n\n${{ env.BUILT_WITH }}"
          tag_name: ${{ github.event.inputs.version }}
          files: |
            ./build/firefox/release/web-ext-artifacts/*.zip
            ./build/chrome/release/*.zip

      - name: Asana Workflow
        env:
          ASANA_ACCESS_TOKEN: ${{ secrets.ASANA_ACCESS_TOKEN }}
          VERSION: ${{ github.event.inputs.version }}
          RELEASE_URL: "https://github.com/duckduckgo/duckduckgo-privacy-extension/releases/tag/${{ github.event.inputs.version }}"
        run:
          node scripts/asana-release.js
